{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}

<div class="col-md-12">
    <h2 class="sub-header">All events</h2>
    <hr/>
    {% if event_list.count > 0 %}
        <table class="table table-responsive">
            <thead>
                <th>Event Title</th>
                <th>Company</th>
                <th>Event Type</th>
                <th>Preferred Date(1st)</th>
                <th>Preferred Date(2nd)</th>
                <th>Approved</th>
                <th>Update</th>
            </thead>
            <tbody>
                {% for event in event_list %}
                <tr>
                    <td>{{event.title}}</td>
                    <td>{{event.company_owner}}</td>
                    <td>{{event.event_type}}</td>
                    <td>{{event.event_date1}}</td>
                    <td>{{event.event_date2}}</td>
                    <td>{{event.is_approved | yesno:"Approved, Rejected, Pending"}}</td>
                    <td>
                        <a class="btn btn-xs btn-info" role="button"
                           href="{% url 'admin-event-update' event.id %}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>
            Bummer there isn't anything here yet.
        </h4>
    {% endif %}
</div>

{% endblock %}
