{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}

<div class="col-md-12">
    <h2 class="sub-header">Event Detail</h2>
    <hr>
    <div class="col-md-8">
        <table class="table table-responsive">
            <tr>
                <td>Title</td>
                <td>{{event.title}}</td>
            </tr>
            <tr>
                <td>Event Type</td>
                <td>{{event.event_type}}</td>
            </tr>
            <tr>
                <td>Preffered Date(1st)</td>
                <td>{{event.event_date1}}</td>
            </tr>
            <tr>
                <td>Preffered Date(2nd)</td>
                <td>{{event.event_date2}}</td>
            </tr>
            <tr>
                <td>Approval Status</td>
                <td>{{event.is_approved}}</td>
            </tr>
            <tr>
                <td>Approved Date</td>
                <td>{{event.final_date}}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}