{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
    <h2 class="sub-header">Edit Details and Click Save</h2>
    <hr>
    <div class="col-md-8">
        <div class="well">
            <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form form.helper %}
            </form>
        </div>
    </div>
{% endblock %}
