{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
    <h3>Programmes eligible for interships:</h3>
    <hr>
    {% if programme_list.count > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Department</th>
                    <th>Programme</th>
                    <th>Minor</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for prog in programme_list %}
                    <tr>
                        <td>{{prog.year}}</td>
                        <td>{{prog.dept}}</td>
                        <td>{{prog.name}}</td>
                        <td>{{prog.minor_status}}</td>
                        <td>Remove</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    {% endif %}
{% endblock %}