{% extends 'base_admin.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
    <div class="col-md-12 row">
        <h2>Avatar and Signature</h2>

        <div class="col-md-12">
            <hr>
            {% if avatar.avatar %}
                <div class="col-md-6"><img src="{{ avatar.avatar.url }}" class="thumbnail"></div>
            {% endif %}

            {% if signature.signature %}
                <div class="col-md-6"><img src="{{ signature.signature.url }}" class="thumbnail"></div>
            {% endif %}
        </div>

        <div class="col-md-12">
        <h2>CV</h2>
        <hr>
        {% if cv.cv1 %}
            <p class="view_cv_box">
                <a href="{{ cv.cv1.url }}" title="" target="_blank">
                    <img src="{% static 'img/cv_icon.png' %}" alt="cv_icon" height="50px">CV1
                </a>
            </p>
        {% endif %}

        {% if cv.cv2 %}
            <p class="view_cv_box">
                <a href="{{ cv.cv2.url }}" title="" target="_blank">
                    <img src="{% static 'img/cv_icon.png' %}" alt="cv_icon" height="50px">CV2
                </a>
            </p>
        {% endif %}
        </div>

        <div class="col-md-12">

            <h2>Student Details</h2>
            <hr>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#basicinfo" role="tab" data-toggle="tab">Basic Information</a>
                </li>
                <li role="presentation">
                    <a href="#contact" role="tab" data-toggle="tab">Contact Details</a>
                </li>
                <li role="presentation">
                    <a href="#homeaddress" role="tab" data-toggle="tab">Home Address</a>
                </li>
                <li role="presentation">
                    <a href="#academic" role="tab" data-toggle="tab">Acacdemic Results</a>
                </li>
                <li role="presentation">
                    <a href="#cpi" role="tab" data-toggle="tab">CPI</a>
                </li>
                <li role="presentation">
                    <a href="#status" role="tab" data-toggle="tab">Placement Status</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="basicinfo">
                    <table class="table table-striped">
                        <tr>
                            <td>Webmail</td>
                            <td>{{student.iitg_webmail }}</td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td>{{student.first_name}}</td>
                        </tr>
                        <tr>
                            <td>Middle Name</td>
                            <td>{{student.second_name}}</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>{{student.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Roll No</td>
                            <td>{{student.roll_no}}</td>
                        </tr>
                        <tr>
                            <td>DOB</td>
                            <td>{{student.dob}}</td>
                        </tr>
                        <tr>
                            <td>Sex</td>
                            <td>{{student.sex}}</td>
                        </tr>
                        <tr>
                            <td>Nationality</td>
                            <td>{{student.nationality}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{student.category}}</td>
                        </tr>
                        <tr>
                            <td>Minor Year</td>
                            <td>{{student.minor_year}}</td>
                        </tr>
                        <tr>
                            <td>Minor Department</td>
                            <td>{{student.minor_dept}}</td>
                        </tr>
                        <tr>
                            <td>Minor Programme</td>
                            <td>{{student.minor_prog}}</td>
                        </tr>
                        <tr>
                            <td>Major Year</td>
                            <td>{{student.year}}</td>
                        </tr>
                        <tr>
                            <td>Major Department</td>
                            <td>{{student.dept}}</td>
                        </tr>
                        <tr>
                            <td>Major Programme</td>
                            <td>{{student.prog}}</td>
                        </tr>
                        <tr>
                            <td>Hostel</td>
                            <td>{{student.hostel}}</td>
                        </tr>
                        <tr>
                            <td>Room No</td>
                            <td>{{student.room_no}}</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="contact">
                    <table class="table table-striped">
                        <tr>
                            <td>LinkedIn Account</td>
                            <td>{{student.linkedin_link}}</td>
                        </tr>
                        <tr>
                            <td>Alternate Email</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mobile (Guwahati)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Alternate Mobile (Guwahati)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mobile (Home)</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="homeaddress">
                    <table class="table table-striped">
                        <tr>
                            <td>Permanent Address Line1 </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Permanent Address Line1 </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Permanent Address Line1 </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PIN Code</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="academic">
                    <table class="table table-stiped">
                        <tr>
                            <td>JEE Air Rank</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Percentage X</td>
                            <td>{{student.percentage_x}}</td>
                        </tr>
                        <tr>
                            <td>Percentage XII</td>
                            <td>{{student.percentage_xii}}</td>
                        </tr>
                        <tr>
                            <td>X Examination Board</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>XII Examination Board</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>X Examination Medium</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>XII Examination Medium</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Gap In Study</td>
                            <td>{{student.gap_in_study | yesno }}</td>
                        </tr>
                        <tr>
                            <td>Reason for Gap in Study</td>
                            <td>{{student.gap_reason}}</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="cpi">
                    <table class="table table-striped">
                        <tr>
                            <td>CPI</td>
                            <td>{{student.cpi}}</td>
                        </tr>
                        <tr>
                            <td>SPI 1st Sem</td>
                            <td>{{student.spi_1_sem}}</td>
                        </tr>
                        <tr>
                            <td>SPI 2nd Sem</td>
                            <td>{{student.spi_2_sem}}</td>
                        </tr>
                        <tr>
                            <td>SPI 3rd Sem</td>
                            <td>{{student.spi_3_sem}}</td>
                        </tr>
                        <tr>
                            <td>SPI 4th Sem</td>
                            <td>{{student.spi_4_sem}}</td>
                        </tr>
                        <tr>
                            <td>SPI 5th Sem</td>
                            <td>{{student.spi_5_sem}}</td>
                        </tr>
                        <tr>
                            <td>SPI 6th Sem</td>
                            <td>{{student.spi_6_sem}}</td>
                        </tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="status">
                    <table class="table table-striped">
                        <tr>
                            <td>Placed</td>
                            <td>{{student.placed}}</td>
                        </tr>
                        <tr>
                            <td>Intern2</td>
                            <td>{{student.intern2}}</td>
                        </tr>
                        <tr>
                            <td>Intern3</td>
                            <td>{{student.intern3}}</td>
                        </tr>
                        <tr>
                            <td>PPO</td>
                            <td>{{student.ppo}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            {% if rel_list.count > 0 %}
                <table class="table table-striped">
                    <thead>
                        <th>Company</th>
                        <th>Job Designation</th>
                        <th>Applied On</th>

                        <th>Shortlist Status</th>
                        <th>Shortlisted DateTime</th>

                        <th>Placement Status</th>
                        <th>Placement DateTime</th>
                        <th>Placement Approval</th>
                        <th>Approval DateTime</th>
                        <th>CV Selected</th>
                    </thead>

                    <tbody>
                    {% for rel in rel_list %}
                        <tr>
                            <td>{{rel.job.company_owner}}</td>
                            <td>{{rel.job.designation}}</td>
                            <td>{{rel.creation_datetime}}</td>

                            <td>{{rel.shortlist_init | yesno }}</td>
                            <td>
                                {% if rel.shortlist_init %}
                                    {{rel.shortlist_init_datetime}}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>

                            <td>{{rel.placed_init | yesno }}</td>
                            <td>
                                {% if rel.placed_init %}
                                    {{rel.placed_init_datetime}}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                                {% if rel.placed_init %}
                                    {{rel.placed_approved | yesno:"Approved, Rejected, Pending"}}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                                {% if rel.placed_approved == None %}
                                    ---
                                {% else %}
                                    {{rel.placed_approved_datetime}}
                                {% endif %}
                            </td>
                            <td>
                                {% if rel.cv1 %}
                                    CV1
                                {% elif rel.cv2 %}
                                    CV2
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}