{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
   <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="/tnp/admin/home/">Home</a> ⟩
      <a href="#">Request Event</a>
  </div>
</div>

    <div class="row">
     <div class="col s12 m8 l9">
      <div class="card">
       <div class="card-content">
        <div class="well">
            <form method="post" accept-charset="utf-8">
                {% csrf_token %}
                {% crispy form form.helper %}
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
	</div>
	</div>
	</div>
	<div class="col s12 m4 l3">
        <div class="card filters-card">
            <div class="card-content">
                <span class="card-title black-text">Search</span>
                <div class="row" style="margin-top:-10px">
                  <div class="input-field col s12">
                    <input type="text" data-name="q" value="" id="searchbar">
                    <label for="searchbar" class="">Search...</label>
                    <a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>
                  </div>
                </div>
            </div>
         </div>
      </div>
    </div>
	
{% endblock %}
