{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
   <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="{% url 'company-home' %}">Home</a>
      <a href="#">Events and Status</a>
  </div>
</div>

<div class="row">
    {% if event_list.count > 0 %}
	<div class="col s12">
    	<div class="card">
    	<div class="card-content">
        <div class="results" style="margin-top:2%;">
    	   <div class="dataTables_wrapper no-footer" id="profile">
    	    <table class="table table-striped" id="result_list" role="grid">
            <thead>
                <th>Event Title</th>
                <th>Event Type</th>
                <th>Estimated Duration</th>
                <th>Approval Status</th>
                <th>Details</th>
                <th>Update</th>
            </thead>
            <tbody>
                {% for event in event_list %}
                <tr>
                    <td>{{event.title}}</td>
                    <td>{{event.event_type}}</td>
                    <td>{{event.duration}} hour(s)</td>
                    <td>{{event.is_approved | yesno:"Approved, Rejected, Pending"}}</td>
                    <td>
                        <a style="color:white;" class="btn btn-xs btn-info" role="button"
                           href="{% url 'company-event-detail' event.id %}">Details</a>
                    </td>
                    <td>
                        {% if event.is_approved == None %}
                            <a class="btn btn-xs btn-info white-text" role="button"
                               href="{% url 'company-event-update' event.id %}">
                                Update</a>
                        {% else %}
                            <button class="btn btn-xs btn-info"
                                    type="button" disabled="disabled"
                                    data-toggle="tooltip" data-placement="bottom"
                                    title="Event has been approved. No changes possible now.">Update
                            </button>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h5>
            Bummer there isn't anything here. Please follow
            <a href="{% url 'company-event-create' %}">
                <span style="color: #00b6b6">this</span>
            </a> to create a new event.
        </h5>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}
