{% extends 'base_company.html' %}
{% load material_form %}

<style type="text/css">
    .section h5 {
        font-size: 1.2rem;
        padding-bottom: 0.2rem;
        border-bottom: 3px solid black;
    }
</style>

{% block account_setting%}
<a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
    <div>
        <a href="/tnp/admin/home/">Home</a> ⟩
        <a href="#">Request Event</a>
    </div>
</div>

<div class="row">
    <div class="col s12 m8 l9">
        <div class="card">
            <div class="card-content">
                <div class="well">
                    <form method="post" accept-charset="utf-8">
                        {% csrf_token %}
                        {% form %}
                            {% part form.event_type prefix %}
                                <i class="material-icons prefix">filter_list</i>
                            {% endpart %}
                            {% part form.duration prefix %}
                                <i class="material-icons prefix">watch_later</i>
                            {% endpart %}
                            {% part form.logistics prefix %}
                                <i class="material-icons prefix">event_note</i>
                            {% endpart %}
                            {% part form.remark prefix %}
                                <i class="material-icons prefix">comment</i>
                            {% endpart %}
                        {% endform %}
                        <div class="card-action">
                            <div class="right-align">
                                <button class="btn btn-primary pull-right"
                                        type="submit">SAVE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
