{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Recruiter | Event
{% endblock %}

{% block account_setting%}
  <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="{% url 'company-home' %}">Home</a> ⟩
      <a href="{% url 'comapany-event-list' %}">Events and Status</a> ⟩
      <a href="#">Event Details</a>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 l9">
    <div class="card data-card">
    <div class="card-content">
    <div class="results" style="margin-top:2%;">
    	   <div class="dataTables_wrapper no-footer" id="profile">
           <table class="table table-striped" id="result_list" role="grid">
            <tr>
                <td>Title</td>
                <td>{{event.title}}</td>
            </tr>
            <tr>
                <td>Event Type</td>
                <td>{{event.event_type}}</td>
            </tr>
            <tr>
                <td>Event Duration</td>
                <td>{{event.duration}} hour</td>
            </tr>
            <tr>
                <td>Logistics</td>
                <td>{{event.logistics}}</td>
            </tr>
            <tr>
                <td>Remark</td>
                <td>{{event.remark}}</td>
            </tr>
            <tr>
                <td>Approval Status</td>
                <td>{{event.is_approved | yesno:"Approved, Rejected, Pending"}}</td>
            </tr>
            <tr>
                <td>Approved Date</td>
                <td>
                    {% if event.is_approved == True %}
                        {{event.final_date}}
                    {% else %}
                        ----
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card filters-card">
            <div class="card-content">
                <span class="card-title black-text">Search</span>
                <div class="row" style="margin-top:-10px">
                  <div class="input-field col s12">
                    <input type="text" data-name="q" value="" id="searchbar">
                    <label for="searchbar" class="">Search...</label>
                    <a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>
                  </div>
                </div>
            </div>
         </div>
    </div>
</div>

{% endblock %}
