{% extends 'base_company.html' %}

{% block title %}
    Recruiter | Home
{% endblock %}

{% block account_setting%}
    <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}
    <div class="breadcrumbs">
      <div class="valign-wrapper">
        <a href="#">Home</a> ⟩
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card">
            <div class="card-content">
       		 <h3 class="sub-header">Welcome <i>{{ company_instance.company_name  }}</i></h3>
            </div>
	</div>
      </div>
    </div>
{% endblock %}
