{% extends 'base_company.html' %}

{% block account_setting%}
   <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="/tnp/admin/home/">Home</a> ⟩
      <a href="#">Jobs</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
   <div class="card">
    <div class="card-content">
    {% if job_list %}
     <div class="results" style="margin-top:2%;">
       <div class="dataTables_wrapper no-footer" id="profile">
    	<table class="table table-striped" id="result_list" role="grid">
        <thead>
        <tr>
            <th>Designation</th>
            <th>Profile</th>
            <th>Open</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Details</th>
            <th>Candidates</th>
        </tr>
        </thead>
        <tbody>
        {% for job in job_list %}
        <tr>
            <td> {{ job.designation | capfirst }} </td>
            <td> {{ job.profile_name }} </td>
            <td> {{ job.opening_date }} </td>
            <td> {{ job.application_deadline }} </td>
            <td> {{ job.approved | yesno:"Approved, Rejected, Approval Pending" }} </td>
            <td>
                <a style="color:white" ref="{% url 'company-job-detail' job.id %}" class="btn btn-xs btn-primary">Details</a>
            </td>
            <td>
                {% if job.application_deadline < present_date %}
                <a style="color:white" class="btn btn-xs btn-info" href="{% url 'company-jobrel-list' job.id %}" title="">
                    View Candidates
                </a>
                {% else %}
                    <button style="cursor:not-allowed" class="btn btn-xs btn-info" disabled="disabled" data-toggle="tooltip"
                    data-placement="bottom" title="Candidates can be viewed only after application deadline">
                        View Candidates
                    </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No Jobs Proposal have been posted. </h4>
    {% endif %}
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
