{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Programmes</h2>
<hr/>
<div class="col-md-12">
    <h3>JobProgFormSet</h3>
    <form id='myForm' action="{% url 'company-jobprog-update' job.id %}" method="post" accept-charset="utf-8">
        <table class="table table-striped tablesorter table-hover">
            {% csrf_token %}
            {{ formset.management_form }}
            <tbody>
            {% for form in formset %}
            <tr>
                {% for hidden in form.hidden_fields %}
                <td>{{hidden}}</td>
                {% endfor %}
                {% for field in form.visible_fields%}
                <td>{{field}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
</div>

{% endblock %}