{% extends 'base_company.html' %}

{% block account_setting%}
  <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="/tnp/admin/home/">Home</a> ⟩
      <a href="#">Account Information</a>
  </div>
</div>

<div class="row">
    <div class="col s12">
    <div class="card">
    <div class="card-content">
    {% if company.approved == True %}
    <h5 style="margin-left:15px;color:green;font-size:20px">Account status: Approved</h5>
    {% elif company.sent_back == True %}
    <h5 style="margin-left:15px;color:yellow;font-size:20px">Some information is incorrect/incomplete.</h5>
    {% else %}
    <h5 style="margin-left:15px;color:red;font-size:20px">Account has not been approved yet.</h5>
    {% endif %}
    </div>
    </div>
    </div>
    <div class="col s12 m8 l9">
    <div class="card data-card">
    <div class="card-content">
       <p style="padding-left: 24px;">Jump to: <a href="#profile" aria-controls="home" role="tab" data-toggle="tab">Company Profile</a>, <a href="#hrdetails" aria-controls="profile" role="tab" data-toggle="tab">HR Details</a></p>
    <div class="results" style="margin-top:2%;">
    	   <div class="dataTables_wrapper no-footer" id="profile">
    		<table class="table table-striped" id="result_list" role="grid">
                <tr>
                    <td> Company Name:</td>
                    <td> {{ company.company_name }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td> {{ company.description }}</td>
                </tr>
                <tr>
                    <td>Postal Address:</td>
                    <td> {{ company.postal_address }}</td>
                </tr>
                <tr>
                    <td>Website:</td>
                    <td> {{ company.website }}</td>
                </tr>
                <tr>
                    <td>Office Contact Number:</td>
                    <td> {{ company.office_contact_no }}</td>
                </tr>
                <tr>
                    <td>Organization Type:</td>
                    <td> {{ company.organization_type }}</td>
                </tr>
                <tr>
                    <td>Industry Sector:</td>
                    <td> {{ company.industry_sector }}</td>
                </tr>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="hrdetails">
            <table class="table table-striped">
                <tr>
                    <td>Head HR Name</td>
                    <td> {{ company.head_hr_name }}</td>
                </tr>
                <tr>
                    <td>Head HR Email</td>
                    <td> {{ company.head_hr_email }}</td>
                </tr>
                <tr>
                    <td>Head HR Designation</td>
                    <td> {{ company.head_hr_designation }}</td>
                </tr>
                <tr>
                    <td>Head HR Mobile</td>
                    <td> {{ company.head_hr_mobile }}</td>
                </tr>
                <tr>
                    <td>Head HR Fax</td>
                    <td> {{ company.head_hr_fax }}</td>
                </tr>
                <tr>
                    <td>First HR Name</td>
                    <td> {{ company.first_hr_name }}</td>
                </tr>
                <tr>
                    <td>First HR Designation</td>
                    <td> {{ company.first_hr_designation }}</td>
                </tr>
                <tr>
                    <td>First HR Mobile</td>
                    <td> {{ company.first_hr_mobile }}</td>
                </tr>
                <tr>
                    <td>First HR Email</td>
                    <td> {{ company.first_hr_email }}</td>
                </tr>
                <tr>
                    <td>First HR Fax</td>
                    <td> {{ company.first_hr_fax }}</td>
                </tr>
            </table>
            </div>

        </div>
    </div>
    </div>
    </div>

    <div class="col s12 m4 l3">
        <div class="card filters-card">
            <div class="card-content">
                <span class="card-title black-text">Search</span>
                <div class="row" style="margin-top:-10px">
                  <div class="input-field col s12">
                    <input type="text" data-name="q" value="" id="searchbar">
                    <label for="searchbar" class="">Search...</label>
                    <a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>
                  </div>
                </div>
            </div>
         </div>
    </div>
    
   <div class="col s12 m8 l9">
    <div class="card data-card">
    <div class="card-content">
     <p style="margin-left:24px;"><a class="btn btn-info" href="{% url 'company-profile-update' %}">Edit Profile</a></p>
    </div>
    </div>
    </div>
</div>
</div>
{% endblock %}
