{% extends 'base_company.html' %}
{% load material_form %}

{% block custom_styles %}
<style type="text/css">
    .section h5 {
        font-size: 1.2rem;
        padding-bottom: 0.2rem;
        border-bottom: 3px solid black;
    }
</style>
{% endblock %}

{% block menu %}
    <a href="{% url 'login' %}"><li>Login</li></a>
    <a href="{% url 'company-signup' %}"><li>Recruiters Signup</li></a>
{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div>
    </div>
</div>

<div class="row">
    <div class="col s12 offset-m2 m8" style="margin-top: 4%;">
        <div class="card">
            <div class="card-content">
                <span class="card-title black-text">Recruiters' Registration Form</span>
                <form action="{% url 'company-signup' %}" method="post" accept-charset="utf-8"
                      class="viewform">
                    {% csrf_token %}
                    {% form form=form %}
                        {% part form.username prefix %}
                            <i class="material-icons prefix">account_box</i>
                        {% endpart %}
                        {% part form.password1 prefix %}
                            <i class="material-icons prefix">lock_open</i>
                        {% endpart %}
                        {% part form.password2 prefix %}
                            <i class="material-icons prefix">lock_open</i>
                        {% endpart %}
                        {% part form.company_name prefix %}
                            <i class="material-icons prefix">business</i>
                        {% endpart %}
                        {% part form.description prefix %}
                            <i class="material-icons prefix">subject</i>
                        {% endpart %}
                        {% part form.postal_address prefix %}
                            <i class="material-icons prefix">subject</i>
                        {% endpart %}
                        {% part form.website prefix %}
                            <i class="material-icons prefix">web</i>
                        {% endpart %}
                        {% part form.office_contact_no prefix %}
                            <i class="material-icons prefix">call</i>
                        {% endpart %}
                        {% part form.head_hr_name prefix %}
                            <i class="material-icons prefix">account_box</i>
                        {% endpart %}
                        {% part form.head_hr_email prefix %}
                            <i class="material-icons prefix">email</i>
                        {% endpart %}
                        {% part form.head_hr_mobile prefix %}
                            <i class="material-icons prefix">phone_android</i>
                        {% endpart %}
                        {% part form.first_hr_name prefix %}
                            <i class="material-icons prefix">account_box</i>
                        {% endpart %}
                        {% part form.first_hr_email prefix %}
                            <i class="material-icons prefix">email</i>
                        {% endpart %}
                        {% part form.first_hr_mobile prefix %}
                            <i class="material-icons prefix">phone_android</i>
                        {% endpart %}
                    {% endform %}
                    <div class="right-align">
                       <button type="submit" name="_submit"
                               class="waves-effect waves-light btn btn-primary btn-lg">
                           Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
