{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block menu %}
    <a href="{% url 'index' %}"><li>Welcome</li></a>
    <a href="{% url 'login' %}"><li>Login</li></a>
    <a href="{% url 'company-signup' %}"><li>Recruiters Signup</li></a>
{% endblock %}

{% block content %}
        <h2 class="sub-header">Recruiters' Registration Form</h2>
        <hr/>
        <h4>Fill all the required details:</h4>
        <div class="col-md-10">
            <form action="{% url 'company-signup' %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <div class="well">
                    {{ userform | crispy}}
                </div>
                <div class="well">
                    {{ companyform | crispy}}
                    <input type="submit" class="btn btn-primary" value="Sign Up" >
                </div>
            </form>
        </div>
{% endblock %}