{% extends 'base_student2.html' %}
{% load humanize %}

{% block title %}Student | All Jobs{% endblock %}

{% block page_title %} Job Applications List {% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">All Jobs</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="header">All Jobs</h4>
            <div class="divider"></div>

            {% if job_list.count < 1 %}
                <p>There is nothing here right now. Please try again later.</p>
            {% endif %}

            {% if job_list.count > 0 %}
                <table class="table responsive-table centered">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Company</th>
                            <th>Designation</th>
                            <th>Profile</th>
                            <th>Deadline</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in job_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ job.company_owner.company_name }}</td>
                            <td>{{ job.designation }}</td>
                            <td>{{ job.profile_name }}</td>
                            <td>{{ job.application_deadline | date:'d M Y h:i:s A'}}</td>
                            <td>
                                <a href="{% url 'stud-all-job-detail' job.id %}"
                                   class="btn">Detail</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}