{% extends 'base_student2.html' %}

{% block title %} Student | Announcements {% endblock %}

{% block page_title %} Announcements {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Announcements</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="section">
                <h4 class="header">All Announcements</h4>
                <div class="divider bottom10"></div>
                {% if announcement_list.count < 1 %}
                    <p>There is no announcement available here. Please try later.</p>
                {% else %}
                    {% for announcement in announcement_list %}
                    <div class="section">
                        <h5>{{ announcement.title }}</h5>
                        <p> <strong>{{ announcement.category | upper }}</strong></p>
                        <div class="divider bottom10"></div>
                        <p>{{ announcement.detail | linebreaksbr}}</p>
                        <p>
                            <strong>Last Updated:</strong>
                            {{ announcement.last_updated | date:"M d, Y h:i A" }}
                            ( {{ announcement.last_updated | timesince }} ago)
                        </p>
                    </div>
                    <div class="divider"></div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
