{% extends 'base_student2.html' %}
{% load static %}
{% load jobportal_tags %}

{% block title %} Student | CV {% endblock %}

{% block page_title %}CV{% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">CV Detail</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>CV</h4>
                <div class="divider bottom10"></div>
                {% if not cv or not cv.cv1 and not cv.cv2 %}
                    <p><strong>You have not uploaded any CV.</strong></p>
                {% else %}
                    {% if cv.cv1 %}
                        <div class="row model-field">
                            <div class="col l2 m3 s4 field-name">
                                <i class="material-icons left">insert_drive_file</i>CV1
                            </div>
                            <div class="col l10 m9 s8 field-value">
                                <a href="{% url 'stud-cv-download' 1 %}">CV1</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if cv.cv2 %}
                        <div class="row model-field">
                            <div class="col l2 m3 s4 field-name">
                                <i class="material-icons left">insert_drive_file</i>CV2
                            </div>
                            <div class="col l10 m9 s8 field-value">
                                <a href="{% url 'stud-cv-download' 2 %}">CV2</a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="section">
                <h4>Upload CV</h4>
                <div class="divider"></div>

                    {% date_passed 'job_stud_cv' as date_gone %}

                    {% if date_gone %}
                        <p>Final deadline for uploading CV was :
                            <span class="red-text">{{ site_management.job_student_cv_update_deadline | date:"d M Y h:i:s A"}}</span>.
                        </p>
                    {% else %}
                        <p>Final deadline for uploading CV is :
                            <span class="green-text">{{ site_management.job_student_cv_update_deadline | date:"d M Y h:i:s A"}}</span>.
                        </p>
                    {% endif %}

                    {% if date_gone %}
                        <p><a class="btn disabled">Upload CV</a></p>
                    {% else %}
                        {% if cv %}
                            {% if cv.cv1 or cv.cv2 %}
                                <a class="btn" href="{% url 'stud-cv-update' %}">Upload new Files(s)</a>
                            {% else %}
                                <a class="btn" href="{% url 'stud-cv-update' %}">Upload files</a>
                            {% endif %}
                        {% else %}
                            <a class="btn" href="{% url 'stud-cv-create' %}">Upload files</a>
                        {% endif %}
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}