{% extends 'base_student2.html' %}

{% block title %} Student | Home {% endblock %}

{% block page_title %} Home {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4 class="header">Home</h4>
                <div class="divider bottom10"></div>
                {% if form %}
                <p><strong>Important Announcement:</strong></p>
                <p>
                    Students who have been placed in the Campus Placement session
                    of 2016-2017 are hereby requested to confirm their placement
                    status. In case of any discrepancy, please contact the CCD
                    Team at placement@iitg.ernet.in. Please note that once you
                    confirm your status, you will not be able to make any changes.
                </p>
                <p><strong>Company Name: </strong> {{ jobrel.job.company_owner }} </p>
                <p><strong>Job Profile: </strong> {{ jobrel.job.profile_name }} </p>
                <p><strong>Job Designation: </strong> {{ jobrel.job.designation }} </p>
                <div class="divider bottom10 col s12"></div>
                <div class="error-alert">
                    {% if form.errors %}
                        {% if form.non_field_errors %}
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="red-text">Please correct the errors as shown in the form.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <form method="post" class="col l8 m8 s12" action="{% url 'stud-placement-confirm' %}">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="row">
                        <div class="input-field col s12">
                            <div class="form-error-list">
                                {% for error in form.confirm.errors %}
                                    <small class="error">{{ error }}</small>
                                {% endfor %}
                            </div>
                            {{ form.confirm }}
                            {{ form.confirm.label_tag }}
                            <br>
                            <small>{{ field.help_text }}</small>
                        </div>
                    </div>
                    <br>
                    <button type="submit" name="_submit" class="waves-effect waves-light btn">
                        Confirm
                    </button>
                </form>
                {% elif jobrel %}
                    <p><strong>You have confirmed your placement status.</strong></p>
                    <p><strong>Company Name: </strong> {{ jobrel.job.company_owner }} </p>
                    <p><strong>Job Profile: </strong> {{ jobrel.job.profile_name }} </p>
                    <p><strong>Job Designation: </strong> {{ jobrel.job.designation }} </p>
                    <div class="bottom10 divider"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
