{% extends 'base_student.html' %}
{% load humanize %}
{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>

{% endblock%}

{% block title %}
    Student | All Jobs
{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="valign-wrapper">
        <a href="{% url 'stud-home' %}">Home</a> ⟩
        <a href="{% url 'stud-job-list' %}">All Jobs</a>
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col s12 m12 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Job Applications List</span>
                    {% if job_list.count > 0 %}
                        <table class="table bordered">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Designation</th>
                                    <th>Profile</th>
                                    <th>Deadline</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody class="searchable">
                                {% for job in job_list %}
                                <tr>
                                    <td>{{ job.company_owner }}</td>
                                    <td>{{ job.designation }}</td>
                                    <td>{{ job.profile_name }}</td>
                                    <td>{{ job.application_deadline | date:'d M Y h:i:s A'}}</td>
                                    <td>
                                        <a href="{% url 'stud-job-detail' job.id %}"
                                           class="btn">Details</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No job matches your profile.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}