{% extends 'base_student.html' %}
{% load humanize %}

{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
{% endblock%}

{% block title %}
    Student | Job Detail
{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="valign-wrapper">
        <a href="{% url 'stud-home' %}">Home</a> ⟩
        <a href="{% url 'stud-job-list' %}">All Jobs</a> ⟩
        <a href="{% url 'stud-job-detail' job.id %}">Job Details</a>
    </div>
</div>

<div class="row">
    <div class="row">

        <div class="col s12 m12 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Job Details</span>
                </div>
            </div>

            <ul class="tabs z-depth-1">
                <li class="tab col s3 l2">
                    <a class="teal-text" href="#job">Job Information</a>
                </li>
                <li class="tab col s3 m3 l2">
                    <a href="#recruiter" class="teal-text">Company Information</a>
                </li>
            </ul>
        </div>

        <div class="col s112 m12 l9">
            <div class="col s12 m12 l12  white" id="job">
                <table class="table bordered">
                    <tr>
                        <td width="30%">Description</td>
                        <td width="70%">{{job.description}}</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>{{job.designation}}</td>
                    </tr>
                    <tr>
                        <td>Profile Name</td>
                        <td>{{job.profile_name}}</td>
                    </tr>
                    <tr>
                        <td>CTC</td>
                        <td>
                            {% if stud.prog == 'BTECH' or stud.prog == 'BDES' %}
                                {{ job.ctc_btech }}
                            {% elif stud.prog == 'MTECH' or stud.prog == 'MDES'%}
                                {{ job.ctc_mtech }}
                            {% elif stud.prog == 'MSC' %}
                                {{ job.ctc_msc }}
                            {% elif stud.prog == 'MA' %}
                                {{ job.ctc_ma }}
                            {% elif stud.prog == 'PHD' %}
                                {{ job.ctc_phd }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Gross Salary</td>
                        <td>
                            {% if stud.prog == 'BTECH' or stud.prog == 'BDES' %}
                                {{ job.gross_btech }}
                            {% elif stud.prog == 'MTECH' or stud.prog == 'MDES'%}
                                {{ job.gross_mtech }}
                            {% elif stud.prog == 'MSC' %}
                                {{ job.gross_msc }}
                            {% elif stud.prog == 'MA' %}
                                {{ job.gross_ma }}
                            {% elif stud.prog == 'PHD' %}
                                {{ job.gross_phd }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Additional Information</td>
                        <td>{{job.additional_info}}</td>
                    </tr>
                    <tr>
                        <td>Opening DateTime</td>
                        <td>{{job.opening_datetime}}</td>
                    </tr>
                    <tr>
                        <td>Application Deadline</td>
                        <td>{{job.application_deadline}}</td>
                    </tr>
                </table>
            </div>

            <div class="col s12 m12 l12 white" id="recruiter">
                <table class="table bordered">
                    <tr>
                        <td width="30%"> Company Name:</td>
                        <td width="70%"> {{ job.company_owner.company_name }}</td>
                    </tr>
                    <tr>
                        <td width="30%">Description:</td>
                        <td width="70%"> {{ job.company_owner.description }}</td>
                    </tr>
                    <tr>
                        <td>Postal Address:</td>
                        <td> {{ job.company_owner.postal_address }}</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td> {{ job.company_owner.website }}</td>
                    </tr>
                    <tr>
                        <td>Organization Type:</td>
                        <td> {{ job.company_owner.organization_type }}</td>
                    </tr>
                    <tr>
                        <td>Industry Sector:</td>
                        <td> {{ job.company_owner.industry_sector }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col s12 m12 l9">
            <div class="card">

                <div class="card-content">
                    <span class="card-title">Apply</span>
                    {% if jobrel %}
                        <p>You applied for this Job on {{jobrel.creation_datetime}}.</p>
                    {% else %}
                        {% if no_cv %}
                            <p class="red-text"> WARNING: You have not uploaded any CV. You must upload at least one CV to apply.</p>
                        {% else %}
                            <p>You can remove your application before deadline only. Once deadline has passed, no changes
                            can be made to your application status.</p>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="card-action">

                    {% if jobrel %}
                        {% if deadline_passed %}
                            <a class="btn disabled" href="#">
                            Remove Application</a>
                        {% else %}
                            <a href="{% url 'stud-jobrel-delete' job.id %}" class="btn">
                            Remove Application</a>
                        {% endif %}

                    {% else %}
                        {% if no_cv %}
                            <a href="#" class="btn disabled">
                                Apply
                            </a>
                        {% else %}
                            {% if deadline_passed %}
                                <a href="#" class="btn disabled"> Apply </a>
                            {% else %}
                                <a href="{% url 'stud-jobrel-create' job.id %}" class="btn">
                                    Apply
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
