{% extends 'base_student2.html' %}

{% block title %}Student | All Jobs{% endblock %}

{% block page_title %} Job Applications (Eligible) List {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Eligible Jobs</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="header">Eligible Jobs</h4>
            <div class="divider"></div>

            {% if job_list.count < 1 %}
                <p>No job matches your profile.</p>
            {% endif %}
            {% if job_list.count > 0 %}
                <table class="table responsive-table centered">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Company</th>
                            <th>Designation</th>
                            <th>Profile</th>
                            <th>Deadline</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in job_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ job.company_owner }}</td>
                            <td>{{ job.designation }}</td>
                            <td>{{ job.profile_name }}</td>
                            <td>{{ job.application_deadline | date:'d M Y h:i:s A'}}</td>
                            <td>
                                <a href="{% url 'stud-job-detail' job.id %}"
                                   class="btn">Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}