{% extends 'base_student2.html' %}

{% block title %}Student | Job Application List{% endblock %}

{% block page_title %}Applied Jobs Applications{% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Applied Jobs</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Your Job Applications</h4>
                <div class="divider bottom10"></div>

                {% if jobrel_list.count < 1 %}
                    <p>You have not applied for any Job.</p>
                {% endif %}

                {% if jobrel_list.count > 0 %}
                    <table class="table responsive-table centered">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Company</th>
                                <th>Designation</th>
                                <th>Applied on</th>
                                <th>Status</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for jobrel in jobrel_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ jobrel.job.company_owner }}</td>
                                    <td>{{ jobrel.job.designation }}</td>
                                    <td>{{ jobrel.creation_datetime }}</td>
                                    <td>
                                        {% if jobrel.placed_approved == True %}
                                            <span class="green-text">Placed</span>
                                        {% else %}
                                            {% if jobrel.shortlist_init %}
                                                <span class="green-text">Shortlisted</span>
                                            {% else %}
                                                ---
                                            {% endif%}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'stud-job-detail' jobrel.job.id %}"
                                           class="btn" >Details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
