{% extends 'base_student.html' %}

{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
{% endblock%}

{% block title %}
    Student | Job Application List
{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="valign-wrapper">
        <a href="{% url 'stud-home' %}">Home</a> ⟩
        <a href="{% url 'stud-jobrel-list' %}">Student job applications</a>
    </div>
</div>

<div class="row">
    <div class="row">

        <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Your Job Applications</span>
                <p><strong>Note: Job applications appear in descending order of date of application.</strong></p>
                <hr>
                {% if jobrel_list.count > 0 %}
                    <table class="table bordered highlight">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Designation</th>
                                <th>Applied on</th>
                                <th>Status</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for jobrel in jobrel_list %}
                                <tr>
                                    <td width="20%">{{ jobrel.job.company_owner}}</td>
                                    <td width="20%">{{jobrel.job.designation}}</td>
                                    <td width="20%">{{jobrel.creation_datetime}}</td>
                                    <td width="20%">
                                        {% if jobrel.placed_approved == True %}
                                            <span class="green-text">Placed</span>
                                        {% else %}
                                            {% if jobrel.shortlist_init %}
                                                <span class="green-text">Shortlisted</span>
                                            {% else %}
                                                ---
                                            {% endif%}
                                        {% endif %}
                                    </td>
                                    <td width="20%">
                                        <a href="{% url 'stud-job-detail' jobrel.job.id %}"
                                           class="btn" >Details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>You have not applied for any Job yet.</p>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}
