{% extends 'base_student2.html' %}

{% block title %} Student | Profile Update {% endblock %}

{% block page_title %} Update Profile {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a href="{% url 'stud-profile-detail' %}" class="breadcrumb">Profile Detail</a>
                <a class="breadcrumb">Update Profile</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Update Profile</h4>
            <p><strong>Notes:</strong></p>
            <ol>
                <li>
                    <strong>
                        This form is slightly lengthy so please make sure you don't miss any field.
                    </strong>
                </li>
                <li>
                    <strong>
                        After successful form submission, confirm the changes in
                        the <a href="{% url 'stud-profile-detail' %}">Profile Detail</a> section.
                    </strong>
                </li>
                <li>
                    <strong>
                        Not all fields listed in <a href="{% url 'stud-profile-detail' %}">Profile Detail</a>
                        section are editable. Only editable fields are included in this form.
                    </strong>
                </li>
            </ol>
            <div class="divider bottom10"></div>
            <div class="error-alert">
                {% if form.errors %}
                    {% if form.non_field_errors %}
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="red-text">Please correct the errors as shown in the form.</p>
                    {% endif %}
                {% endif %}
            </div>
            <form method="post" class="col l8 m8 s12">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div id="basic-info" class="section scrollspy">
                    <h5 class="subheader">Basic Information</h5>
                    <div class="divider bottom10"></div>
                    {% include 'field_mdl.html' with field=form.dob %}
                    {% include 'field_mdl.html' with field=form.hostel %}
                    {% include 'field_mdl.html' with field=form.room_no %}
                    {% include 'field_mdl.html' with field=form.alternative_email %}
                    {% include 'field_mdl.html' with field=form.mobile_campus %}
                    {% include 'field_mdl.html' with field=form.mobile_campus_alternative %}
                    {% include 'field_mdl.html' with field=form.mobile_home %}
                    {% include 'field_mdl.html' with field=form.linkedin_link %}
                    {% include 'field_mdl.html' with field=form.pd_status %}
                </div>
                <div id="address" class="section scrollspy">
                    <h5 class="subheader">Address</h5>
                    <div class="divider bottom10"></div>
                    {% include 'field_mdl.html' with field=form.address_line1 %}
                    {% include 'field_mdl.html' with field=form.address_line2 %}
                    {% include 'field_mdl.html' with field=form.address_line3 %}
                    {% include 'field_mdl.html' with field=form.pin_code %}
                </div>
                <div id="schooling" class="section scrollspy">
                    <h5 class="subheader">Schooling</h5>
                    <div class="divider bottom10"></div>
                    {% include 'field_mdl.html' with field=form.board_x %}
                    {% include 'field_mdl.html' with field=form.medium_x %}
                    {% include 'field_mdl.html' with field=form.passing_year_x %}
                    {% include 'field_mdl.html' with field=form.percentage_x %}
                    {% include 'field_mdl.html' with field=form.board_xii %}
                    {% include 'field_mdl.html' with field=form.medium_xii %}
                    {% include 'field_mdl.html' with field=form.passing_year_xii %}
                    {% include 'field_mdl.html' with field=form.percentage_xii %}
                    {% include 'field_mdl.html' with field=form.gap_in_study %}
                    {% include 'field_mdl.html' with field=form.gap_reason %}
                </div>
                <div id="academics" class="section scrollspy">
                    <h5 class="subheader">Academics</h5>
                    <div class="divider bottom10"></div>
                    {% include 'field_mdl.html' with field=form.active_backlogs %}
                </div>
                <div id="clearance" class="section scrollspy">
                    <h5 class="subheader">Clearance Exam</h5>
                    <div class="divider bottom10"></div>
                    {% include 'field_mdl.html' with field=form.jee_air_rank %}
                    {% include 'field_mdl.html' with field=form.rank_category %}
                </div>
                <div id="grades" class="section scrollspy">
                    <h5 class="subheader">Grades</h5>
                    <div class="divider bottom10"></div>
                    {% include 'field.html' with field=form.spi_1_sem %}
                    {% include 'field.html' with field=form.spi_2_sem %}
                    {% include 'field.html' with field=form.spi_3_sem %}
                    {% include 'field.html' with field=form.spi_4_sem %}
                    {% include 'field.html' with field=form.spi_5_sem %}
                    {% include 'field.html' with field=form.spi_6_sem %}
                </div>
                <button type="submit" name="_submit" class="waves-effect waves-light btn">
                    Save
                </button>
            </form>
            <div class="col l4 m4 hide-on-small-and-down fixed">
                <div class="toc-wrapper pin-top" style="margin-left: 30px">
                    <ul class="section table-of-contents">
                        <li><a href="#basic-info">Basic Information</a></li>
                        <li><a href="#address">Address</a></li>
                        <li><a href="#schooling">Schooling</a></li>
                        <li><a href="#academics">Academics</a></li>
                        <li><a href="#clearance">Clearance Exam</a></li>
                        <li><a href="#grades">Grades</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}