{% extends 'base_student2.html' %}
{% load jobportal_tags %}

{% block title %} Student | Home {% endblock %}

{% block page_title %} Profile Detail {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'stud-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Profile Detail</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col l8 m8 s12">
            <div id="basic-info" class="section scrollspy">
                <h4 class="header">Basic Information</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Name
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.name }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Web Mail
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.iitg_webmail }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Roll No
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.roll_no }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Gender
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.sex }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Date Of Birth
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.dob | default_if_none:"" }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Nationality
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.nationality }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Category
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.category }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Hostel
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.hostel }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Room No
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.room_no }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Alternate Email
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.alternative_email }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Mobile (Campus)
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.mobile_campus }}
                    </div>
                </div><div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Mobile (Campus Alternative)
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.mobile_campus_alternative }}
                    </div>
                </div><div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Mobile (Home)
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.mobile_home }}
                    </div>
                </div><div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        LinkedIn Account Public URL
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.linkedin_link }}
                    </div>
                </div><div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Public Disability Status
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.pd_status }}
                    </div>
                </div>
            </div>
            <div id="address" class="section scrollspy">
                <h4 class="header">Address</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Permanent Address Line1
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.address_line1 }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Permanent Address Line2
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.address_line2 }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Permanent Address Line3
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.address_line3 }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        PIN Code
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.pin_code }}
                    </div>
                </div>
            </div>
            <div id="schooling" class="section scrollspy">
                <h4>Schooling</h4>
                <div class="divider"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Percentage X / CGPA X
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.percentage_x }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        X Examination Board
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.board_x }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        X Examination Medium
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.medium_x }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Percentage XII / CGPA XII
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.percentage_xii }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        XII Examination Board
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.board_xii }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        XII Examination Medium
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.medium_xii }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Gap In Study
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.gap_in_study | yesno }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Reason for Gap in Study
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.gap_reason }}
                    </div>
                </div>
            </div>
            <div id="academic" class="section scrollspy">
                <h4 class="header">Academics</h4>
                <div class="divider"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Major Year (Year of Admission)
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.year }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Major Department
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.dept }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Major Programme
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.prog }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Major Discipline
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.discipline }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Minor Department
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.minor_dept | default_if_none:""}}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Minor Programme
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.minor_prog | default_if_none:""}}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Minor Discipline
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.minor_discipline|default_if_none:""}}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Number of Active Backlogs
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.active_backlogs }}
                    </div>
                </div>
            </div>
            <div id="clearance" class="section scrollspy">
                <h4>Clearance Exam</h4>
                <div class="divider"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        JEE/MA Exam Rank:
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.jee_air_rank }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Rank Category:
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.rank_category }}
                    </div>
                </div>
            </div>
            <div id="grades" class="section scrollspy">
                <h4>CPI</h4>
                <div class="divider"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        CPI
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.cpi }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        SPI 1st Sem
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.spi_1_sem }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        SPI 2nd Sem
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.spi_2_sem }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        SPI 3rd Sem
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.spi_3_sem }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        SPI 4th Sem
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.spi_4_sem }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        SPI 5th Sem
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.spi_5_sem }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        SPI 6th Sem
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ student.spi_6_sem }}
                    </div>
                </div>
            </div>
            <div id="update-profile" class="section scrollspy">
                <h4 class="header">Update Profile</h4>
                <div class="divider"></div>
                {% if student.last_updated %}
                    <p>This profile was last updated on {{ student.last_updated | date:"d M Y"}}.</p>
                {% endif %}

                {% date_passed 'job_stud_profile' as date_gone %}

                {% if date_gone %}
                <p>
                    Last date for completing profile information was:
                    <span class="red-text">
                        {{ site_management.job_student_profile_update_deadline | date:"d M Y h:i:s A"}}
                    </span>
                </p>
                {% else %}
                <p>
                    Last date for completing profile information is:
                    <span class="green-text">
                        {{ site_management.job_student_profile_update_deadline | date:"d M Y h:i:s A"}}
                    </span>
                </p>
                <p><a class="btn" href="{% url 'stud-profile-update' %}">Update Profile</a></p>
                {% endif %}
            </div>
        </div>
        <div class="col l4 m4 hide-on-small-and-down fixed">
            <div class="toc-wrapper pin-top">
                <ul class="section table-of-contents">
                    <li><a href="#basic-info">Basic Information</a></li>
                    <li><a href="#address">Address</a></li>
                    <li><a href="#schooling">Schooling</a></li>
                    <li><a href="#academic">Academics</a></li>
                    <li><a href="#clearance">Clearance Exam</a></li>
                    <li><a href="#grades">CPI</a></li>
                    <li><a href="#update-profile">Update Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}