{% extends 'base_company.html' %}
{% load humanize %}

{% block title %}
    Recruiter | Job Application
{% endblock %}

{% block account_setting%}
<a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
    <div>
        <a href="{% url 'company-home' %}">Home</a> ⟩
        <a href="#">Job Details</a>
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col s12 l9 m9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Job Application Details</span>
                </div>
            </div>
        </div>

        {% if rel_list.count  == 0%}
        <div class="row">
            <div class="col s12 m9 l9">
                <div class=" card red lighten-5">
                    <div class="red-text card-content">
                        <i class="mdi-alert-error"></i>
                        <h6>Job application has been successfully submitted. Now add target programmes
                        by clicking the button below. Job applications with no target programmes
                        will not be considered for further processing.</h6>
                    </div>
                    <div class="card-action">
                         <a href="{% url 'company-job-jobprog-create' job.id %}"
                            class="btn btn-primary">Add Programmes</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col s12 m9 l9">
            <ul class="tabs z-depth-1">
                <li class="tab col s3">
                    <a class="teal-text" href="#basicinfo">Basic Information</a>
                </li>
                <li class="tab col s3 m3 l3">
                    <a href="#requirements" class="teal-text">Requirements</a>
                </li>
                <li class="tab col s3 m3 l3">
                    <a href="#salary" class="teal-text">Salary Breakdown</a>
                </li>
                <li class="tab col s3 m3 l3">
                    <a href="#bond" class="teal-text">Legal Document</a>
                </li>
            </ul>
        </div>

        <div class="col s12 m9 l9">

            <div class="col s12 m12 l12  white" id="basicinfo">
                <table class="table bordered">
                    <tr>
                        <td>Description</td>
                        <td>{{job.description}}</td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td>{{job.designation}}</td>
                    </tr>
                    <tr>
                        <td>Profile Name</td>
                        <td>{{job.profile_name}}</td>
                    </tr>
                    <tr>
                        <td>Number of openings</td>
                        <td>{{job.num_openings}}</td>
                    </tr>
                    <tr>
                        <td>Approval Status</td>
                        <td>
                            {% if job.approved == True %}
                                <p>
                                    <a href="#" class="btn light-green">Approved</a>
                                </p>
                            {% elif job.approved = False %}
                                <p>
                                    <a href="#" class="btn red lighten-2">Rejected</a>
                                </p>
                            {% else %}
                                <p>
                                    <a href="#" class="btn orange lighten-2">Approval Pending</a>
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Opening DateTime</td>
                        <td>{{job.opening_datetime}}</td>
                    </tr>
                    <tr>
                        <td>Application Deadline</td>
                        <td>{{job.application_deadline}}</td>
                    </tr>
                </table>
            </div>

            <div  class="col s12 m12 l12  white" id="requirements">
                <table class="table bordered">
                <tr>
                    <td>CPI Shortlist</td>
                    <td>{{job.cpi_shortlist|yesno}}</td>
                </tr>
                <tr>
                    <td>Minimum CPI</td>
                    <td>
                        {% if job.cpi_shortlist %}
                            {{job.minimum_cpi}}
                        {% else %}
                            No CPI shortlisting
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Percentage X</td>
                    <td>{{job.percentage_x}}</td>
                </tr>
                <tr>
                    <td>Percentage XII</td>
                    <td>{{job.percentage_xii}}</td>
                </tr>
                </table>
            </div>

            <div class="col s12 m12 l12  white" id="salary">
                <table class="table bordered">
                    <tr>
                        <td>Currency</td>
                        <td>{{job.currency}}</td>
                    </tr>
                    <tr>
                        <td>CTC B.Tech.</td>
                        <td>{{job.ctc_btech | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Gross B.Tech.</td>
                        <td>{{job.gross_btech | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>CTC M.Tech.</td>
                        <td>{{job.ctc_mtech | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Gross M.Tech.</td>
                        <td>{{job.gross_mtech | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>CTC M.Sc.</td>
                        <td>{{job.ctc_msc | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Gross M.Sc.</td>
                        <td>{{job.gross_msc | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>CTC M.A.</td>
                        <td>{{job.ctc_ma | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Gross M.A.</td>
                        <td>{{job.gross_ma | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>CTC Ph.D.</td>
                        <td>{{job.ctc_phd | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Gross Ph.D.</td>
                        <td>{{job.gross_phd | intcomma}}</td>
                    </tr>
                    <tr>
                        <td>Additional Information</td>
                        <td>{{job.additional_info}}</td>
                    </tr>
                </table>
            </div>

            <div class="col s12 m12 l12  white" id="bond">
                <table class="table bordered">
                    <tr>
                        <td>Bond Document URL</td>
                        <td>
                            {% if job.bond_link %}
                                <a href="{% url 'company-job-download-bond' job.id %}" target="_blank"
                                class="btn btn-info btn-xs">Download Bond Document</a>
                            {% else %}
                                No bond document uploaded
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Actions</span>
                    <p>Candidates can be viewed only after application deadline is over.</p>
                    <p>Once approved, Job entry cannot be edited. For any further edits,
                    please contact the administrator.</p>
                </div>
                <div class="card-action">
                    {% if deadline_over == True %}
                        <a href="{% url 'company-jobrel-list' job.id %}"
                       class="btn btn-primary">View Candidates</a>
                    {% else %}
                        <a href="{% url 'company-jobrel-list' job.id %}"
                       class="btn disabled tooltipped" data-position="bottom"
                           data-tooltip="Candidates cab be viewed after application deadline
                           ({{job.application_deadline}}) only.">View Candidates</a>
                    {% endif %}
                    {% if job.approved == None %}
                        <a href="{% url 'company-job-update' job.id %}"
                       class="btn btn-primary ">Edit Job</a>
                    {% else %}
                        <a href="{% url 'company-job-update' job.id %}"
                       class="btn disabled tooltipped" data-tooltip="This job has been already
                       approved. No changes can be made now." data-position="bottom">Edit Job</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m9 l9">
            <div class="card">
                 <div class="card-content">
                     <span class="card-title">Programmes</span>
                     {% if rel_list.count > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Dept</th>
                                    <th>Prog</th>
                                    <th>Minor/Major</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prog in rel_list %}
                                    <tr>
                                        <td>{{prog.prog.year}}</td>
                                        <td>{{prog.prog.dept}}</td>
                                        <td>{{prog.prog}}</td>
                                        <td>{{prog.prog.minor_status | yesno:"Minor, Major"}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     {% else %}
                        <h5>You have not selected any programme for this Job application.</h5>
                     {% endif %}
                </div>
                <div class="card-action">
                    <a href="{% url 'company-job-jobprog-create' job.id %}"
                   class="btn btn-primary">Add Programmes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
