{% extends 'base_company2.html' %}

{% block title %} Recruiter | All Job Applications {% endblock %}

{% block page_title %} All Job (FTE) Applications {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'company-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">All Job Applications</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Job(FTE) Applications List</h4>
                <div class="divider bottom10"></div>

                {% if job_list.count < 1 %}
                    <p>
                        <strong>No Job (FTE) Application has been posted from this account.</strong>
                    </p>
                {% else %}
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Designation</th>
                                <th>Profile</th>
                                <th>Opening Date</th>
                                <th>Deadline</th>
                                <th>Status</th>
                                <th>Details</th>
                                <th>Candidates</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in job_list %}
                                <tr>
                                    <td>{{ job.designation }}</td>
                                    <td>{{ job.profile_name }}</td>
                                    <td>{{ job.opening_datetime }}</td>
                                    <td>{{ job.application_deadline }}</td>
                                    <td>
                                        {{ job.approved | yesno:"Approved, Rejected, Approval Pending" }}
                                    </td>
                                    <td>
                                        <a href="{% url 'company-job-detail' job.id %}" class="btn">Details</a>
                                    </td>
                                    <td>
                                        {% if job.deadline_passed %}
                                            <a class="btn" href="{% url 'company-jobrel-list' job.id %}">Candidates</a>
                                        {% else %}
                                            <a class="btn tooltipped disabled-button" data-position="bottom" data-delay="50"
                                               data-tooltip="Candidates can be viewed after {{job.application_deadline}} only.">
                                                Candidates
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
