{% extends 'base_company.html' %}

{% block title %}
    Recruiter | All Job Applications
{% endblock %}

{% block account_setting%}
<a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
    <div>
        <a href="{% url 'company-home' %}">Home</a> ⟩
        <a href="#">Jobs</a>
    </div>
</div>

<div class="row">

    <div class="row">

        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Job Application List</span>

                    {% if job_list %}
                        <table class="table bordered">
                            <thead>
                                <tr>
                                    <th>Designation</th>
                                    <th>Profile</th>
                                    <th>Open</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Details</th>
                                    <th>Candidates</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for job in job_list %}
                                <tr>
                                    <td> {{ job.designation | capfirst }}</td>
                                    <td> {{ job.profile_name }}</td>
                                    <td> {{ job.opening_date }}</td>
                                    <td> {{ job.application_deadline }}</td>
                                    <td>
                                        {{ job.approved | yesno:"Approved, Rejected, Approval Pending" }}
                                    </td>
                                    <td>
                                        <a href="{% url 'company-job-detail' job.id %}"
                                            class="btn">Details</a>
                                    </td>
                                    <td>
                                        {% if job.application_deadline < present_date %}
                                        <a class="btn"
                                           href="{% url 'company-jobrel-list' job.id %}">
                                            Candidates
                                        </a>
                                        {% else %}
                                        <a class="btn disabled tooltipped" href="#" data-position="bottom"
                                           data-tooltip="Candidates cab be viewed after application deadline
                                           ({{job.application_deadline}}) only.">Candidates
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h5>No Jobs applications have been posted. </h5>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
