{% extends 'base_company2.html' %}
{% load static %}
{% block title %} Recruiter | Add Programmes {% endblock %}

{% block page_title %} Add Programmes {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'company-home' %}" class="breadcrumb">Home</a>
                <a href="{% url 'company-job-list' %}" class="breadcrumb">All Job Applications</a>
                <a class="breadcrumb">Job Details</a>
                <a class="breadcrumb">Select Programmes</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Select Programmes</h4>
                <div class="divider bottom10"></div>
                <p>
                    <strong>
                        Note: Select the programmes from the form and click on the Save
                        button at bottom of the page. Please note that once a programme is added,
                        it cannot be removed. If you have mistakenly added a wrong programme, please
                        contact the administrator.
                    </strong>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <form method="post" accept-charset="utf-8" class="col l8 m8 s12">
            {% csrf_token %}

            <div id="b-minor" class="section scrollspy">
                <h5>B.Tech/B.Des Minor Programmes</h5>
                <div class="divider bottom10"></div>
                {% if minor_list.count < 1 %}
                    <!--Show message when no programme is open for placements.-->
                    <p>
                        <strong>
                            No B.Tech/B.Des Minor Programme is open for placements.
                        </strong>
                    </p>
                {% else %}
                    <!--Show available programmes in a tabular form with checkboxes to select.-->
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="left">Discipline</th>
                                <th>Year of Passing</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Leader checkbox for selecting all programmes -->
                            <tr>
                                <td class="left">
                                    <input type="checkbox" id="leader_minor" class="filled-in left">
                                    <label for="leader_minor" class="left">
                                        Select all programmes
                                    </label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Display all available programmes below leader checkbox -->
                            {% for programme in minor_list %}
                                <tr>
                                    <td class="left">
                                        <input type="checkbox" name="selected_minor_ids"
                                               value="{{programme.id}}" id="selected_minor_{{programme.id}}"
                                                {%if programme.id in saved_jobrels %} checked="checked" {% endif %}
                                               class="minor filled-in">
                                        <label for="selected_minor_{{programme.id}}">{{ programme.discipline }}</label>
                                    </td>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.dept }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>


            <div id="b-major" class="section scrollspy">
                <h5>B.Tech/B.Des Major Programmes</h5>
                <div class="divider bottom10"></div>
                <!--Show message when no programme is open for placements.-->
                {% if btech_bdes_list.count < 1 %}
                    <p>
                        <strong>
                            No B.Tech/B.Des Major Programme is open for placements.
                        </strong>
                    </p>
                {% else %}
                    <!--Show available programmes in a tabular form with checkboxes to select.-->
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="left">Discipline</th>
                                <th>Year of Passing</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Leader checkbox for selecting all programmes -->
                            <tr>
                                <td class="left">
                                    <input type="checkbox" id="leader_btech_bdes" class="filled-in left">
                                    <label for="leader_btech_bdes" class="left">
                                        Select all programmes
                                    </label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Display all available programmes below leader checkbox -->
                            {% for programme in btech_bdes_list %}
                                <tr>
                                    <td class="left">
                                        <input type="checkbox" name="selected_btech_bdes_ids"
                                               value="{{programme.id}}" id="selected_btech_bdes_{{programme.id}}"
                                                {%if programme.id in saved_jobrels %} checked="checked" {% endif %}
                                               class="btech_bdes filled-in">
                                        <label for="selected_btech_bdes_{{programme.id}}">{{ programme.discipline }}</label>
                                    </td>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.dept }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>


            <div id="masters" class="section scrollspy">
                <h5>M.Tech/M.Des Programmes</h5>
                <div class="divider bottom10"></div>
                <!--Show message when no programme is open for placements.-->
                {% if mtech_mdes_list.count < 1 %}
                    <p>
                        <strong>
                            No M.Tech/M.Des Programme is open for placements.
                        </strong>
                    </p>
                {% else %}
                    <!--Show available programmes in a tabular form with checkboxes to select.-->
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="left">Discipline</th>
                                <th>Year of Passing</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Leader checkbox for selecting all programmes -->
                            <tr>
                                <td class="left">
                                    <input type="checkbox" id="leader_mtech_mdes" class="filled-in left">
                                    <label for="leader_mtech_mdes" class="left">
                                        Select all programmes
                                    </label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Display all available programmes below leader checkbox -->
                            {% for programme in mtech_mdes_list %}
                                <tr>
                                    <td class="left">
                                        <input type="checkbox" name="selected_mtech_mdes_ids"
                                               value="{{programme.id}}" id="selected_mtech_mdes_{{programme.id}}"
                                                {%if programme.id in saved_jobrels %} checked="checked" {% endif %}
                                               class="mtech_mdes filled-in">
                                        <label for="selected_mtech_mdes_{{programme.id}}">{{ programme.discipline }}</label>
                                    </td>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.dept }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>


            <div id="phd" class="section scrollspy">
                <h5>Ph.D. Programmes</h5>
                <div class="divider bottom10"></div>
                {% if phd_list.count < 1 %}
                    <!--Show message when no programme is open for placements.-->
                    <p>
                        <strong>
                            No B.Tech/B.Des Minor Programme is open for placements.
                        </strong>
                    </p>
                {% else %}
                    <!--Show available programmes in a tabular form with checkboxes to select.-->
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="left">Discipline</th>
                                <th>Year of Passing</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Leader checkbox for selecting all programmes -->
                            <tr>
                                <td class="left">
                                    <input type="checkbox" id="leader_phd" class="filled-in left">
                                    <label for="leader_phd" class="left">
                                        Select all programmes
                                    </label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Display all available programmes below leader checkbox -->
                            {% for programme in phd_list %}
                                <tr>
                                    <td class="left">
                                        <input type="checkbox" name="selected_phd_ids"
                                               value="{{programme.id}}" id="selected_phd_{{programme.id}}"
                                                {%if programme.id in saved_jobrels %} checked="checked" {% endif %}
                                               class="phd filled-in">
                                        <label for="selected_phd_{{programme.id}}">{{ programme.discipline }}</label>
                                    </td>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.dept }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>


            <div id="ma" class="section scrollspy">
                <h5>M.A. Programmes</h5>
                <div class="divider bottom10"></div>
                {% if ma_list.count < 1 %}
                    <!--Show message when no programme is open for placements.-->
                    <p>
                        <strong>
                            No M.A. Programme is open for placements.
                        </strong>
                    </p>
                {% else %}
                    <!--Show available programmes in a tabular form with checkboxes to select.-->
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="left">Discipline</th>
                                <th>Year of Passing</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Leader checkbox for selecting all programmes -->
                            <tr>
                                <td class="left">
                                    <input type="checkbox" id="leader_ma" class="filled-in left">
                                    <label for="leader_ma" class="left">
                                        Select all programmes
                                    </label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Display all available programmes below leader checkbox -->
                            {% for programme in ma_list %}
                                <tr>
                                    <td class="left">
                                        <input type="checkbox" name="selected_ma_ids"
                                               value="{{programme.id}}" id="selected_ma_{{programme.id}}"
                                                {%if programme.id in saved_jobrels %} checked="checked" {% endif %}
                                               class="ma filled-in">
                                        <label for="selected_ma_{{programme.id}}">{{ programme.discipline }}</label>
                                    </td>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.dept }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>


            <div id="msc" class="section scrollspy">
                <h5>M.Sc. Programmes</h5>
                <div class="divider bottom10"></div>
                {% if msc_list.count < 1 %}
                    <!--Show message when no programme is open for placements.-->
                    <p>
                        <strong>
                            No M.Sc Programme is open for placements.
                        </strong>
                    </p>
                {% else %}
                    <!--Show available programmes in a tabular form with checkboxes to select.-->
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="left">Discipline</th>
                                <th>Year of Passing</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Leader checkbox for selecting all programmes -->
                            <tr>
                                <td class="left">
                                    <input type="checkbox" id="leader_msc" class="filled-in left">
                                    <label for="leader_msc" class="left">
                                        Select all programmes
                                    </label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Display all available programmes below leader checkbox -->
                            {% for programme in msc_list %}
                                <tr>
                                    <td class="left">
                                        <input type="checkbox" name="selected_msc_ids"
                                               value="{{programme.id}}" id="selected_msc_{{programme.id}}"
                                                {%if programme.id in saved_jobrels %} checked="checked" {% endif %}
                                               class="msc filled-in">
                                        <label for="selected_msc_{{programme.id}}">{{ programme.discipline }}</label>
                                    </td>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.dept }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>


            <div id="msr" class="section scrollspy">
                <h4>MSR Programmes</h4>
                <div class="divider bottom10"></div>
                {% if msr_list.count < 1 %}
                    <!--Show message when no programme is open for placements.-->
                    <p>
                        <strong>
                            No B.Tech/B.Des Minor Programme is open for placements.
                        </strong>
                    </p>
                {% else %}
                    <!--Show available programmes in a tabular form with checkboxes to select.-->
                    <table class="centered">
                        <thead>
                            <tr>
                                <th class="left">Discipline</th>
                                <th>Year of Passing</th>
                                <th>Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Leader checkbox for selecting all programmes -->
                            <tr>
                                <td class="left">
                                    <input type="checkbox" id="leader_msr" class="filled-in left">
                                    <label for="leader_msr" class="left">
                                        Select all programmes
                                    </label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <!-- Display all available programmes below leader checkbox -->
                            {% for programme in msr_list %}
                                <tr>
                                    <td class="left">
                                        <input type="checkbox" name="selected_msr_ids"
                                               value="{{programme.id}}" id="selected_msr_{{programme.id}}"
                                                {%if programme.id in saved_jobrels %} checked="checked" {% endif %}
                                               class="msr filled-in">
                                        <label for="selected_msr_{{programme.id}}">{{ programme.discipline }}</label>
                                    </td>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.dept }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div id="save" class="section scrollspy">
                <h4>Save Changes</h4>
                <div class="divider bottom10"></div>
                <div class="card-action">
                    <p>Click on the button below to save the selected programmes.</p>
                    <button class="waves-effect waves-light btn align-right"
                            type="submit" name="_submit">
                        Save selected programmes
                    </button>
                </div>
            </div>
        </form>

        <div class="col l4 m4 hide-on-small-and-down fixed">
            <div class="toc-wrapper pin-top" style="margin-left: 30px">
                <ul class="section table-of-contents">
                    <li><a href="#b-minor">B.Tech/B.Des Minor Programmes</a></li>
                    <li><a href="#b-major">B.Tech/B.Des Major Programmes</a></li>
                    <li><a href="#masters">M.Tech Programmes</a></li>
                    <li><a href="#phd">Ph.D. Programmes</a></li>
                    <li><a href="#ma">M.A. Programmes</a></li>
                    <li><a href="#msc">M.Sc. Programmes Exam</a></li>
                    <li><a href="#msr">MSR Programmes Exam</a></li>
                    <li><a href="#save">Save Changes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block end_scripts %}
<script src="{% static 'js/programme_select.js' %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="row">

        <div class="col s12 m12 l9">

            <form method="post" accept-charset="utf-8"
                action="{% url 'company-job-jobprog-create' jobpk %}">
                {% csrf_token %}
                <div class="card">

                    {% if btech_bdes_list.count > 0 %}
                    <div class="card-content">
                        <span class="card-title">B.Tech/B.Des Major Programmes</span>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Discipline</th>
                                    <th>Year of Passing</th>
                                    <th>Department</th>
                                    <th>Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="leader_btech_bdes">
                                                <label for="leader_btech_bdes">
                                                    Select all B.Tech/B.Des. programmes
                                                </label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% for programme in btech_bdes_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selected_btech_bdes_ids"
                                                   value="{{programme.id}}"
                                                   id="selected_btech_bdes_{{programme.id}}"
                                                   {%if programme.id in saved_jobrels %}
                                                   checked="checked" {% endif %}
                                                   class="btech_bdes">
                                            <label for="selected_btech_bdes_{{programme.id}}">
                                                {{programme.discipline}}
                                            </label>
                                        </td>
                                        <td>{{programme.year_passing}}</td>
                                        <td>{{programme.dept}}</td>
                                        <td>{{programme.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if minor_list.count > 0 %}
                    <div class="card-content">
                        <span class="card-title">B.Tech./B.Des. Minor Programmes</span>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Discipline</th>
                                    <th>Year of Passing</th>
                                    <th>Department</th>
                                    <th>Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="leader_minor">
                                                <label for="leader_minor">
                                                    Select all Minor programmes
                                                </label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% for programme in minor_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selected_minor_ids"
                                                   value="{{programme.id}}"
                                                   id="selected_minor_{{programme.id}}"
                                                   {%if programme.id in saved_jobrels %}
                                                   checked="checked" {% endif %}
                                                   class="minor">
                                            <label for="selected_minor_{{programme.id}}">
                                                {{programme.discipline}}
                                            </label>
                                        </td>
                                        <td>{{programme.year_passing}}</td>
                                        <td>{{programme.dept}}</td>
                                        <td>{{programme.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if mtech_mdes_list.count > 0 %}
                    <div class="card-content">
                        <span class="card-title">M.Tech. Programmes</span>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Discipline</th>
                                    <th>Year of Passing</th>
                                    <th>Department</th>
                                    <th>Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="leader_mtech_mdes">
                                                <label for="leader_mtech_mdes">
                                                    Select all M.Tech programmes
                                                </label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% for programme in mtech_mdes_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selected_mtech_mdes_ids"
                                                   value="{{programme.id}}"
                                                   id="selected_mtech_mdes_{{programme.id}}"
                                                   {%if programme.id in saved_jobrels %}
                                                   checked="checked" {% endif %}
                                                   class="mtech_mdes">
                                            <label for="selected_mtech_mdes_{{programme.id}}">
                                                {{programme.discipline}}
                                            </label>
                                        </td>
                                        <td>{{programme.year_passing}}</td>
                                        <td>{{programme.dept}}</td>
                                        <td>{{programme.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if msc_list.count > 0 %}
                    <div class="card-content">
                        <span class="card-title">M.Sc. Programmes</span>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Discipline</th>
                                    <th>Year of Passing</th>
                                    <th>Department</th>
                                    <th>Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if msc_list.count > 2 %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="leader_msc">
                                                <label for="leader_msc">
                                                    Select all M.Sc. programmes
                                                </label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% for programme in msc_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selected_msc_ids"
                                                   value="{{programme.id}}"
                                                   id="selected_msc_{{programme.id}}"
                                                   {%if programme.id in saved_jobrels %}
                                                   checked="checked" {% endif %}
                                                   class="msc">
                                            <label for="selected_msc_{{programme.id}}">
                                                {{programme.discipline}}
                                            </label>
                                        </td>
                                        <td>{{programme.year_passing}}</td>
                                        <td>{{programme.dept}}</td>
                                        <td>{{programme.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if ma_list.count > 0 %}
                    <div class="card-content">
                        <span class="card-title">M.A. Programmes</span>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Discipline</th>
                                    <th>Year of Passing</th>
                                    <th>Department</th>
                                    <th>Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if ma_list.count > 2 %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="leader_ma">
                                                <label for="leader_ma">
                                                    Select all M.A. programmes
                                                </label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% for programme in ma_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selected_ma_ids"
                                                   value="{{programme.id}}"
                                                   id="selected_ma_{{programme.id}}"
                                                   {%if programme.id in saved_jobrels %}
                                                   checked="checked" {% endif %}
                                                   class="ma">
                                            <label for="selected_ma_{{programme.id}}">
                                                {{programme.discipline}}
                                            </label>
                                        </td>
                                        <td>{{programme.year_passing}}</td>
                                        <td>{{programme.dept}}</td>
                                        <td>{{programme.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if phd_list.count > 0 %}
                    <div class="card-content">
                        <span class="card-title">Ph.D. Programmes</span>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Discipline</th>
                                    <th>Year of Passing</th>
                                    <th>Department</th>
                                    <th>Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if phd_list.count > 2 %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="leader_phd">
                                                <label for="leader_phd">
                                                    Select all Ph.D. programmes
                                                </label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                {% for programme in phd_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selected_phd_ids"
                                                   value="{{programme.id}}"
                                                   id="selected_phd_{{programme.id}}"
                                                   {%if programme.id in saved_jobrels %}
                                                   checked="checked" {% endif %}
                                                   class="phd">
                                            <label for="selected_phd_{{programme.id}}">
                                                {{programme.discipline}}
                                            </label>
                                        </td>
                                        <td>{{programme.year_passing}}</td>
                                        <td>{{programme.dept}}</td>
                                        <td>{{programme.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    {% if msr_list.count > 0 %}
                    <div class="card-content">
                        <span class="card-title">MSR Programmes</span>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Discipline</th>
                                    <th>Year of Passing</th>
                                    <th>Department</th>
                                    <th>Programme</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="leader_msr">
                                                <label for="leader_msr">
                                                    Select all B.Tech/B.Des. programmes
                                                </label>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% for programme in msr_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="selected_msr_ids"
                                                   value="{{programme.id}}"
                                                   id="selected_msr_{{programme.id}}"
                                                   {%if programme.id in saved_jobrels %}
                                                   checked="checked" {% endif %}
                                                   class="msr">
                                            <label for="selected_msr_{{programme.id}}">
                                                {{programme.discipline}}
                                            </label>
                                        </td>
                                        <td>{{programme.year_passing}}</td>
                                        <td>{{programme.dept}}</td>
                                        <td>{{programme.name}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                    <div class="card-action">
                        <button type="submit" name="_submit"
                           class="waves-effect waves-light btn btn-primary btn-lg align-right">
                       Save selected programmes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script>

    $("#leader_btech_bdes").change(function(){
        var status = this.checked;
        $('.btech_bdes').each(function(){
            this.checked = status;
        });
    });

    $('.btech_bdes').change(function(){
        if(this.checked == false){
            $("#leader_btech_bdes")[0].checked = false;
        }
    });

    $("#leader_minor").change(function(){
        var status = this.checked;
        $('.minor').each(function(){
            this.checked = status;
        });
    });

    $('.minor').change(function(){
        if(this.checked == false){
            $("#leader_minor")[0].checked = false;
        }
    });

    $("#leader_mtech_mdes").change(function(){
        var status = this.checked;
        $('.mtech_mdes').each(function(){
            this.checked = status;
        });
    });

    $('.mtech_mdes').change(function(){
        if(this.checked == false){
            $("#leader_mtech_mdes")[0].checked = false;
        }
    });

    $("#leader_msc").change(function(){
        var status = this.checked;
        $('.msc').each(function(){
            this.checked = status;
        });
    });

    $('.msc').change(function(){
        if(this.checked == false){
            $("#leader_msc")[0].checked = false;
        }
    });

    $("#leader_ma").change(function(){
        var status = this.checked;
        $('.ma').each(function(){
            this.checked = status;
        });
    });

    $('.ma').change(function(){
        if(this.checked == false){
            $("#leader_ma")[0].checked = false;
        }
    });

    $("#leader_phd").change(function(){
        var status = this.checked;
        $('.phd').each(function(){
            this.checked = status;
        });
    });

    $('.phd').change(function(){
        if(this.checked == false){
            $("#leader_phd")[0].checked = false;
        }
    });

    $("#leader_msr").change(function(){
        var status = this.checked;
        $('.msr').each(function(){
            this.checked = status;
        });
    });

    $('.msr').change(function(){
        if(this.checked == false){
            $("#leader_msr")[0].checked = false;
        }
    });

</script>

{% endblock %}
