{% extends 'base_company.html' %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>

{% endblock%}

{% block content %}
    <div class="col-md-12">
        <h4>Candidate Status</h4>
        <div class="col-md-8 well">
            <form method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-success" value="Save">
            </form>
        </div>
    </div>
{% endblock %}