{% extends 'base_company2.html' %}
{% load material_form %}

{% block title %} Recruiter | Change Password {% endblock %}
{% block page_title %} Change Password {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'company-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Change Password</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col l6 m8 s12">
            <div class="section">
                <h4>Change Password</h4>
                <div class="divider bottom10"></div>
                <div class="section">
                    <form method="post" accept-charset="utf-8">
                        {% csrf_token %}
                        {% include 'field_mdl.html' with field=form.old_password  icon='lock_outline' %}
                        {% include 'field_mdl.html' with field=form.new_password1 icon='lock_outline' %}
                        {% include 'field_mdl.html' with field=form.new_password2 icon='lock_outline' %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="submit" class="btn" value="Change Password">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
