{% extends 'base_company.html' %}
{% load material_form %}

{% block title %}
    Recruiter | Update Profile
{% endblock %}

{% block custom_styles %}
<style type="text/css">
    .section h5 {
        font-size: 1.2rem;
        padding-bottom: 0.2rem;
        border-bottom: 3px solid black;
    }
</style>
{% endblock %}

{% block account_setting%}
   <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="{% url 'company-home' %}">Home</a> ⟩
      <a href="{% url 'company-profile-detail' %}">ACCOUNT INFORMATION</a> ⟩
      <a href="#">Update Profile</a>
  </div>
</div>

<div class="row">
   <div class="col s12 m8 l9">
      <div class="card">
        <div class="card-content">
            <form method="post" accept-charset="utf-8"
                  action="{% url 'company-profile-update' %}">
                {% csrf_token %}
                {% form %}
                    {% part form.company_name prefix %}
                        <i class="material-icons prefix">business</i>
                    {% endpart %}
                    {% part form.description prefix %}
                        <i class="material-icons prefix">subject</i>
                    {% endpart %}
                    {% part form.postal_address prefix %}
                        <i class="material-icons prefix">subject</i>
                    {% endpart %}
                    {% part form.website prefix %}
                        <i class="material-icons prefix">web</i>
                    {% endpart %}
                    {% part form.office_contact_no prefix %}
                        <i class="material-icons prefix">call</i>
                    {% endpart %}
                    {% part form.head_hr_name prefix %}
                        <i class="material-icons prefix">account_box</i>
                    {% endpart %}
                    {% part form.head_hr_email prefix %}
                        <i class="material-icons prefix">email</i>
                    {% endpart %}
                    {% part form.head_hr_mobile prefix %}
                        <i class="material-icons prefix">phone_android</i>
                    {% endpart %}
                    {% part form.first_hr_name prefix %}
                        <i class="material-icons prefix">account_box</i>
                    {% endpart %}
                    {% part form.first_hr_email prefix %}
                        <i class="material-icons prefix">email</i>
                    {% endpart %}
                    {% part form.first_hr_mobile prefix %}
                        <i class="material-icons prefix">phone_android</i>
                    {% endpart %}
                {% endform %}
                <input type="submit" class="right-align btn btn-primary" value="Save">
            </form>
        </div>
      </div>
   </div>
</div>
{% endblock %}
