{% extends 'base_company2.html' %}

{% block title %} Recruiter | Profile {% endblock %}

{% block page_title %} Profile Details {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'company-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Profile Detail</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col l8 m8 s12">
            <div id="company-info" class="section scrollspy">
                <h4>Company Information</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Account Username
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.user.username }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Company Name
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.company_name }}
                    </div>
                </div>
                <div class="row model-field hide-on-small-and-down">
                    <div class="col l2 m3 s4 field-name">
                        Description
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.description | linebreaksbr }}
                    </div>
                </div>
                <div class="row model-field hide-on-sm-and-down">
                    <div class="col l2 m3 s4 field-name">
                        Postal Address
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.postal_address | linebreaksbr }}
                    </div>
                </div>
                <div class="row model-field hide-on-sm-and-down">
                    <div class="col l2 m3 s4 field-name">
                        Website
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.website }}
                    </div>
                </div>
                <div class="row model-field hide-on-sm-and-down">
                    <div class="col l2 m3 s4 field-name">
                        Office Contact Number
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.office_contact_no }}
                    </div>
                </div>
                <div class="row model-field hide-on-sm-and-down">
                    <div class="col l2 m3 s4 field-name">
                        Organization Type
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.organization_type }}
                    </div>
                </div>
                <div class="row model-field hide-on-sm-and-down">
                    <div class="col l2 m3 s4 field-name">
                        Industry Sector
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.industry_sector }}
                    </div>
                </div>
            </div>
            <div id="poc1" class="section scrollspy">
                <h4>First Point of Contact</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Full Name
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.head_hr_name }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Email
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.head_hr_email }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Contact Number
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.head_hr_mobile }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Designation
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.head_hr_designation }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Fax
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.head_hr_fax }}
                    </div>
                </div>
            </div>
            <div id="poc2" class="section scrollspy">
                <h4>Second Point of Contact</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Full Name
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.first_hr_name }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Email
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.first_hr_email }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Contact Number
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.first_hr_mobile }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Designation
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.first_hr_designation }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Fax
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.first_hr_fax }}
                    </div>
                </div>
            </div>
            <div id="approve" class="section scrollspy">
                <h4>Account Status</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Registration Date
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ company.signup_datetime }}
                    </div>
                </div>
                {% if company.user.is_active %}
                    <div class="row model-field">
                        <div class="col l2 m3 s4 field-name">
                            Approval Date
                        </div>
                        <div class="col l10 m9 s8 field-value">
                            {{ company.approval_date }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div id="update-profile" class="section scrollspy">
                <h4>Update Profile</h4>
                <div class="divider bottom10"></div>
                <p><a href="{% url 'company-profile-update' %}" class="btn">Update Profile</a></p>
            </div>
        </div>
        <div class="col l4 m4 hide-on-small-and-down fixed">
            <div class="toc-wrapper pin-top">
                <ul class="section table-of-contents">
                    <li><a href="#company-info">Company Information</a></li>
                    <li><a href="#poc1">First Point of Contact</a></li>
                    <li><a href="#poc2">Second Point of Contact</a></li>
                    <li><a href="#approve">Account Status</a></li>
                    <li><a href="#update-profile">Update Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
