{% extends 'base_company.html' %}

{% block title %}
    Recruiter | Profile
{% endblock %}

{% block account_setting%}
  <a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="{% url 'company-home' %}">Home</a> ⟩
      <a href="#">Account Information</a>
  </div>
</div>

<div class="row">

    <div class="row">

        <div class="col s12 m12 l9">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Recruiter Profile Details</div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l9">
            <ul class="tabs z-depth-1">
                <li class="tab col s6 m6 l6">
                    <a class="teal-text" href="#profile">Basic Information</a>
                </li>
                <li class="tab col s6 m6 l6">
                    <a href="#hrdetails" class="teal-text">HR Details</a>
                </li>
            </ul>
        </div>

        <div class="col s12 m12 l9">
            <div class="col s12 m12 l12  white" id="profile">
                <table class="table bordered highlight centered responsive-table">
                    <tr>
                        <td> Username:</td>
                        <td> {{ company.user.username }}</td>
                    </tr>
                    <tr>
                        <td> Company Name:</td>
                        <td> {{ company.company_name }}</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td> {{ company.description }}</td>
                    </tr>
                    <tr>
                        <td>Postal Address:</td>
                        <td> {{ company.postal_address }}</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td> {{ company.website }}</td>
                    </tr>
                    <tr>
                        <td>Office Contact Number:</td>
                        <td> {{ company.office_contact_no }}</td>
                    </tr>
                    <tr>
                        <td>Organization Type:</td>
                        <td> {{ company.organization_type }}</td>
                    </tr>
                    <tr>
                        <td>Industry Sector:</td>
                        <td> {{ company.industry_sector }}</td>
                    </tr>
                </table>
            </div>

            <div class="col s12 m12 l12  white" id="hrdetails">
                <table class="table bordered highlight centered responsive-table">
                    <tr>
                        <td>1st PoC Name</td>
                        <td> {{ company.head_hr_name }}</td>
                    </tr>
                    <tr>
                        <td>1st PoC Email</td>
                        <td> {{ company.head_hr_email }}</td>
                    </tr>
                    <tr>
                        <td>1st PoC Designation</td>
                        <td> {{ company.head_hr_designation }}</td>
                    </tr>
                    <tr>
                        <td>1st PoC Mobile</td>
                        <td> {{ company.head_hr_mobile }}</td>
                    </tr>
                    <tr>
                        <td>1st PoC Fax</td>
                        <td> {{ company.head_hr_fax }}</td>
                    </tr>
                    <tr>
                        <td>2nd PoC Name</td>
                        <td> {{ company.first_hr_name }}</td>
                    </tr>
                    <tr>
                        <td>2nd PoC Designation</td>
                        <td> {{ company.first_hr_designation }}</td>
                    </tr>
                    <tr>
                        <td>2nd PoC Mobile</td>
                        <td> {{ company.first_hr_mobile }}</td>
                    </tr>
                    <tr>
                        <td>2nd PoC Email</td>
                        <td> {{ company.first_hr_email }}</td>
                    </tr>
                    <tr>
                        <td>2nd PoC Fax</td>
                        <td> {{ company.first_hr_fax }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Edit Profile</span>
                </div>
                <div class="card-action">
                    <a class="btn btn-info" href="{% url 'company-profile-update' %}">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
