{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<div class="col-md-12">
    <h2 class="sub-header">Event Detail</h2>
    <hr/>
    <div class="col-md-8">
        <table class="table table-responsive table-striped">
            <tr>
                <td>Title</td>
                <td>{{event.title}}</td>
            </tr>
            <tr>
                <td>Event Type</td>
                <td>{{event.event_type}}</td>
            </tr>
            <tr>
                <td>Event Duration</td>
                <td>{{event.duration}} hour</td>
            </tr>
            <tr>
                <td>Logistics</td>
                <td>
                    {% if event.logistics.all.count > 0%}
                    <ul class="list-inline">
                        {% for logistics in event.logistics.all %}
                            <li>{{logistics }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        Not Updated Yet
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Approval Status</td>
                <td>{{event.is_approved | yesno:"Approved, Rejected, Pending"}}</td>
            </tr>
            <tr>
                <td>Approved Date</td>
                <td>
                    {% if event.is_approved == True %}
                        {{event.final_date}}
                    {% else %}
                        ----
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}