{% extends 'base_company.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Change Password</h2>
        <hr>
	    <div class="col-md-6">
            <div class="well">
                <form method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-primary" value="Change Password">
                </form>
            </div>
	    </div>
{% endblock %}