{% extends 'base_company.html' %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Candidates:</h2>
        <hr/>
        <div class="col-md-12">
            {% if rel_list.count > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Webmail</th>
                            <th>Year of passing</th>
                            <th>Department</th>
                            <th>Programme</th>
                            <th>CV</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for rel in rel_list %}
                        <tr>
                            <td>{{ rel.alum.iitg_webmail }}</td>
                            <td>{{ rel.alum.year_passing }}</td>
                            <td>{{ rel.alum.dept }}</td>
                            <td>{{ rel.alum.prog}}</td>
                            <td><a href="{{ rel.alum.cv.url }}" title=""  target="_blank">CV</a></td>
                            <td>Action</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No alumni have applied for this position.</p>
            {% endif %}
        </div>
{% endblock %}