{% extends 'base_company.html' %}

{% block account_setting%}
    <p><a href="{% url 'companylogout' %}" title="alum_logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Internship Actions</h2>
        <hr>
        <div class="col-md-9">
            <h4>Student Details</h4>
            <table class="table table-striped">
                    <tr>
                        <td>Name: </td>
                        <td>{{ rel.stud.first_name }} {{ rel.stud.middle_name }} {{ rel.stud.last_name }}</td>
                    </tr>
                    <tr>
                        <td>CPI</td>
                        <td>{{ rel.stud.cpi }}</td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>{{ rel.stud.dept.dept }}</td>
                    </tr>
                    <tr>
                        <td>Year of Admission</td>
                        <td>{{ rel.stud.year }}</td>
                    </tr>
                    <tr>
                        <td>Programme</td>
                        <td>{{ rel.stud.prog }}</td>
                    </tr>
                    <tr>
                        <td>CV1</td>
                        <td>CV1 Link</td>
                    </tr>
                    <tr>
                        <td>CV2</td>
                        <td>CV2 Link</td>
                    </tr>
                </table>
            <h4>Application Status</h4>
            <table class="table table-striped">
                <tr>
                    <td>Round</td>
                    <td> {{ rel.round }}</td>
                </tr>
                <tr>
                    <td>Dropped</td>
                    <td>
                        {% if rel.dropped == True %}
                            <span class="label label-danger">Dropped </span>  in Round {{ rel.round }}
                        {% else %}
                            <span class="label label-success">Not Dropped Yet</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Intern Shortlist Request</td>
                    <td>
                        {% if rel.shortlist_init == True%}
                            <span class="label label-success">Shortlisted</span>
                        {% else %}
                            <span class="label label-danger">Not Shortlisted</span>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td>Intern Shortlist Approval</td>
                    <td>
                        {% if rel.shortlist_approved == True%}
                            <span class="label label-success">Shortlist Approved</span>
                        {% elif rel.shortlist_approved == False %}
                            <span class="label label-danger">Shortlist Rejected</span>
                        {% else %}
                            <span class="label label-default">Action Pending</span>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td>Intern Hiring Request</td>
                    <td>
                        {% if rel.intern_init == True%}
                            <span class="label label-success">Intern Request</span>
                        {% else %}
                            <span class="label label-danger">No Placement Request</span>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td>Intern Hiring Approval</td>
                    <td>
                        {% if rel.intern_approved == True%}
                            <span class="label label-success">Intern Request Approved</span>
                        {% elif rel.intern_approved == False %}
                            <span class="label label-danger">Intern Request Rejected</span>
                        {% else %}
                            <span class="label label-default">Action Pending</span>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td>PPO Request</td>
                    <td>
                        {% if rel.ppo_init == True%}
                            <span class="label label-success">PPO Request</span>
                        {% else %}
                            <span class="label label-danger">No PPO Request</span>
                        {% endif %}
                    </td>

                </tr>
                <tr>
                    <td>PPO Approval</td>
                    <td>
                        {% if rel.ppo_approved == True %}
                            <span class="label label-success">PPO Request Approved</span>
                        {% elif rel.ppo_approved == False %}
                            <span class="label label-danger">PPO Request Rejected</span>
                        {% else %}
                            <span class="label label-default">Action Pending</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
                <!--TODO: Add more student details-->
                <!--TODO: Add CV links-->
            <div class="panel panel-info">
                <div class="panel-heading">Application Status Actions:</div>
                <div class="panel-body">
                    {% if rel.dropped == True%}
                    <p>Candidate was dropped in Round #{{rel.round}}</p>
                    {% else%}
                        {% if rel.shortlist_init == True %}
                            {% if rel.shortlist_approved == True %}
                                {% if rel.intern_init == True %}
                                    {% if rel.intern_approved == True%}
                                        {% if rel.ppo_init == True %}
                                            {% if rel.ppo_approved == True %}
                                                <p><mark>PPO Approved.</mark></p>
                                            {% elif rel.ppo_approved == False %}
                                                <p><mark>PPO Approval request declined.</mark></p>
                                            {% else %}
                                                <p><mark>PPO Approval awaiting.</mark></p>
                                            {% endif %}
                                        {% else %}
                                        <p>Student not picked for PPO.</p>
                                            <p>
                                                <a href="{% url 'internships:rec_intern_ppo' rel.id %}" class="btn btn-success">
                                                    Offer PPO
                                                </a>
                                            </p>
                                        {% endif %}
                                    {% elif rel.intern_approved == False %}
                                        <p><mark>Intern hiring request declined.</mark></p>
                                    {% else %}
                                        <p><mark>Intern hiring approval pending.</mark></p>
                                    {% endif %}
                                {% else %}
                                <p>Candidate not marked for hiring yet.</p>
                                    <p>
                                        <a href="{% url 'internships:rec_intern_intern' rel.id %}" class="btn btn-success">
                                            Hire
                                        </a>
                                    </p>
                                {% endif %}
                            {% elif rel.shortlist_approved == False %}
                                <h4><mark>Shortlist approval request declined</mark></h4>
                            {% else %}
                                <h4><mark>Shortlist approval awaiting</mark></h4>
                            {% endif %}
                        {% else%}
                            <p>Candidate not Shortlisted</p>
                            <p>
                                <a href="{% url 'internships:rec_intern_shortlist' rel.id %}" class="btn btn-success">
                                    Shortlist
                                </a>
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}