{% extends 'base_admin2.html' %}

{% block title %} Admin | Signup Requests {% endblock %}
{% block page_title %} Signup Requests {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'admin-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Signup Requests</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Recruiter Signup Requests</h4>
                <div class="divider bottom10"></div>
                {% if company_list.count < 1 %}
                    <p>
                        <strong>
                            No pending signup requests.
                        </strong>
                    </p>
                {% else %}
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>1st Poc Name</th>
                                <th>1st Poc Mobile</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for company in company_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ company.user.username }}</td>
                                    <td>{{ company.company_name }}</td>
                                    <td>{{ company.head_hr_name }}</td>
                                    <td>{{ company.head_hr_mobile }}</td>
                                    <td>
                                        <a class="btn" href="{% url 'admin-company-detail' company.id %}">
                                            Detail
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
