{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
{% endblock%}

{% block content %}

<div class="row">
    <div class="row">
        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Event List</span>
                    {% if event_list.count > 0 %}
                        <table class="table bordered">
                            <thead>
                                <tr>
                                    <th>Event Title</th>
                                    <th>Company</th>
                                    <th>Event Type</th>
                                    <th>Duration</th>
                                    <th>Approved</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in event_list %}
                                <tr>
                                    <td>{{event.title}}</td>
                                    <td>{{event.company_owner}}</td>
                                    <td>{{event.event_type}}</td>
                                    <td>{{event.duration}}</td>
                                    <td>{{event.is_approved | yesno:"Approved, Rejected, Pending"}}</td>
                                    <td>
                                        <a href="{% url 'admin-event-detail' event.id %}"
                                           class="btn">detail</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Bummer. There isn't anything here right now.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
