{% extends 'base_admin2.html' %}

{% block title %} Admin | Jobs Details Download {% endblock %}
{% block page_title %} Jobs Details Download {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'admin-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Jobs Details Download</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="section">
            <h4>Export Job Applications Details</h4>
            <div class="divider bottom10"></div>
                <p>Fields exported into CSV are:</p>
                <ol>
                    <li>Company Name</li>
                    <li>Designation</li>
                    <li>Profile</li>
                    <li>Number of Openings</li>
                    <li>CPI Shortlist (T/F)</li>
                    <li>Minimum CPI</li>
                    <li>Backlog Filter</li>
                    <li>Number of Backlogs Allowed</li>
                    <li>Percentage X</li>
                    <li>Percentage XII</li>
                    <li>CTC BTech</li>
                    <li>Gross BTech</li>
                    <li>CTC MTech</li>
                    <li>Gross MTech</li>
                    <li>CTC MSc</li>
                    <li>Gross MSc</li>
                    <li>CTC MA</li>
                    <li>Gross MA</li>
                    <li>CTC MSR</li>
                    <li>CTC PhD</li>
                    <li>Gross PhD</li>
                    <li>Approval Status</li>
                    <li>Opening DateTime</li>
                    <li>Closing DateTime</li>
                </ol>
            <p>
                <a class="btn" href="{% url 'admin-job-list-download' 'file' %}">
                    <i class="material-icons left">file_download</i>Download All Jobs
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
