{% extends 'base_admin2.html' %}

{% block title %} Admin | Unapproved Jobs {% endblock %}
{% block page_title %} Unapproved Jobs {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'admin-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Unapproved Jobs</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Unapproved Job Applications</h4>
                <div class="divider bottom10"></div>
                {% if job_list.count < 1 %}
                    <p>
                        <strong>No unapproved Job (FTE) application.</strong>
                    </p>
                    <p>
                        All approved Job applications are available <a href="{% url 'admin-job-list' %}">here</a>
                    </p>
                {% else %}
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Designation</th>
                                <th>Profile</th>
                                <th>Opening Date</th>
                                <th>Deadline</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in job_list %}
                                <tr>
                                    <td>{{ job.company_owner.company_name }}</td>
                                    <td>{{ job.designation }}</td>
                                    <td>{{ job.profile_name }}</td>
                                    <td>{{ job.opening_datetime }}</td>
                                    <td>{{ job.application_deadline }}</td>
                                    <td>
                                        <a href="{% url 'admin-job-detail' job.id %}" class="btn">Details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}