{% extends 'base_admin2.html' %}

{% block title %} Admin | Candidate List {% endblock %}
{% block page_title %} Candidate List {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'admin-home' %}" class="breadcrumb">Home</a>
                <a href="{% url 'admin-job-list' %}" class="breadcrumb">Job List</a>
                <a href="{% url 'admin-job-detail' job.id %}" class="breadcrumb">Job Detail</a>
                <a class="breadcrumb">Candidate List</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Job Details</h4>
                <div class="divider bottom10"></div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Recruiter
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ job.company_owner.company_name }}
                    </div>
                </div>
                <div class="row model-field">
                    <div class="col l2 m3 s4 field-name">
                        Designation
                    </div>
                    <div class="col l10 m9 s8 field-value">
                        {{ job.designation }}
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Download Student Details</h4>
                <div class="divider bottom10"></div>
                <p>
                    Students details (Roll No, Name, Web-mail, Gender, Department,
                    Branch/Specialization, Programme, CPI, Percentage X, Percentage XII,
                    Mobile IITG Campus, and Alternate Email ID) can be downloaded by
                    clicking the button below.
                </p>
                <p>
                    <a class="btn" href="{% url 'admin-jobrel-list-csv' job.id %}">
                        Download
                    </a>
                </p>
            </div>
            <div class="section">
                <h4>Download CV Zip</h4>
                <div class="divider bottom10"></div>
                <p>
                    <a class="btn" href="{% url 'admin-job-cv-download' job.id %}">
                        Download
                    </a>
                </p>
            </div>
            <div class="section">
                <h4>Candidates</h4>
                <div class="divider bottom10"></div>
                {% if rel_list.count < 1 %}
                    <p>
                        <strong>
                            No student has yet applied for this position.
                        </strong>
                    </p>
                {% else %}
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Shortlist</th>
                                <th>Placement</th>
                                <th>Placement Approval</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rel in rel_list %}
                                <tr>
                                    <td>{{ rel.stud.name }}</td>
                                    <td>
                                        {% if rel.shortlist_init %}
                                            <span class="tooltipped green-text" data-position="bottom"
                                                  data-tooltip="Candidate shortlisted on {{rel.placed_init_datetime }}">Shortlisted</span>
                                        {% else %}
                                            <span class="red-text">Not Shortlisted</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if rel.placed_init %}
                                            <span class="tooltipped green-text" data-position="bottom"
                                                  data-tooltip="Candidate selected on {{rel.placed_init_datetime }}">Placed</span>
                                        {% else %}
                                            <span class="red-text">Not Selected</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if rel.placed_init %}
                                            {% if rel.placed_approved == True %}
                                                <span class="green-text tooltipped" data-placement="bottom"
                                                    data-tooltip="Placement request approved on {{rel.placed_approved_datetime }}">Approved</span>
                                            {% elif rel.placed_approved == False %}
                                                <span class="red-text">Rejected</span>
                                            {% else %}
                                                <a class="btn tooltipped" data-position="bottom"
                                                   href="{% url 'admin-jobrel-place-approve' job.id rel.id %}"
                                                   data-tooltip="Click to approve placement request.">Approval Required</a>
                                            {% endif %}
                                        {% else %}
                                            NA
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn" href="{% url 'admin-student-detail' rel.stud.id %}">Detail</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}