{% extends 'base_admin2.html' %}

{% block title %} Admin | Debarred Students {% endblock %}
{% block page_title %} Debarred Students {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'admin-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Debarred Students</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col l6 m8 s12">
            <div class="section">
                <h4>Select Students to Debar</h4>
                <p><strong>Notes</strong></p>
                <ol>
                    <li>
                        <strong>
                            Students can be debarred from a particular Job only using
                            the following form.
                        </strong>
                    </li>
                    <li>
                        <strong>
                            To debar student from all job applications, disable the account login.
                        </strong>
                    </li>
                </ol>
                <div class="divider bottom10"></div>
                <form accept-charset="utf-8" method="post" action="">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% include 'field_mdl.html' with field=form.roll_no %}
                    {% include 'field_mdl.html' with field=form.job %}
                    <input type="submit" value="Submit" class="btn">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>Debarred Students</h4>
                <div class="divider bottom10"></div>
                {% if rel_list.count < 1 %}
                    <p>
                        <strong>No students has been debarred from any Job yet.</strong>
                    </p>
                {% else %}
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Recruiter</th>
                                <th>Job Designation</th>
                                <th>Student Name</th>
                                <th>Roll No</th>
                                <th>Department</th>
                                <th>Discipline</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rel in rel_list %}
                                <tr>
                                    <td>{{rel.job.company_owner}}</td>
                                    <td>{{rel.job.designation}}</td>
                                    <td>{{rel.stud.name}}</td>
                                    <td>{{rel.stud.roll_no }}</td>
                                    <td>{{rel.stud.dept }}</td>
                                    <td>{{rel.stud.discipline }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
