{% extends 'base_admin2.html' %}

{% block title %} Admin | Programme List {% endblock %}
{% block page_title %} All Programmes {% endblock %}

{% block breadcrumb %}
<nav class="hide-on-small-and-down nav-breadcrumb">
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a href="{% url 'admin-home' %}" class="breadcrumb">Home</a>
                <a class="breadcrumb">Programmes</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h4>All Programmes</h4>
                <div class="divider bottom10"></div>

                {% if programme_list.count < 1 %}
                    <p>
                        <strong>
                            No programme has been added yet.
                        </strong>
                    </p>
                {% else %}
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Year of Admission</th>
                                <th>Programme</th>
                                <th>Department</th>
                                <th>Discipline</th>
                                <th>Major/Minor</th>
                                <th>Open for Placement</th>
                                <th>Open for Internship</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for programme in programme_list %}
                                <tr>
                                    <td>{{ programme.year }}</td>
                                    <td>{{ programme.name }}</td>
                                    <td>{{ programme.dept }}</td>
                                    <td>{{ programme.discipline }}</td>
                                    <td>{{ programme.minor_status | yesno:"Minor, Major" }}</td>
                                    <td>{{ programme.open_for_placement | yesno | capfirst }}</td>
                                    <td>{{ programme.open_for_internship | yesno | capfirst }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
