{% extends 'base_jobportal.html' %}

{% block custom_styles %}
<style>
    ul.side-nav.module-menu a.collapsible-header {
        padding-left: 45px !important;
        padding-right: 37.5px !important;
    }
</style>
{% endblock %}

{% block menu %}

<li><a href="{% url 'admin-home' %}">Home</a></li>

<li><a href="{% url 'admin-company-list' %}">Companies</a></li>

<li><a href="{% url 'admin-company-signup-list' %}">SignUp Requests</a></li>

<li><a href="{% url 'admin-job-list' %}">Jobs: Approved</a></li>

<li><a href="{% url 'admin-job-list-unapproved' %}">Jobs: Unapproved</a></li>

<li><a href="{% url 'admin-jobrel-list-unapproved' %}">Hiring Requests</a></li>

<li><a href="{% url 'programme-list' %}">Programmes</a></li>

<li><a href="{% url 'admin-event-list' %}">All Events</a></li>

<li><a href="{% url 'admin-student-list' %}">Search Students</a></li>

<li>
    <a class="collapsible-header">Upload</a>
    <div class="collapsible-body">
       <ul>
	        <li><a href="{% url 'admin-student-create' %}">Students CSV</a></li>
	        <li><a href="{% url 'admin-student-fee-update' %}">Fee CSV</a></li>
       </ul>
    </div>
</li>

{% endblock %}

{% block level_0 %}

    {% block content %}
    {% endblock %}

{% endblock%}