{% extends 'base_jobportal.html' %}

{% block menu %}
<li>
    <a href="{% url 'stud-home' %}">
        <strong>Home</strong>
    </a>
</li>
<li class="bold">
    <a href="{% url 'stud-profile-detail' %}">
        <strong>Profile Detail</strong>
    </a>
</li>
<li>
    <a href="{% url 'stud-all-job-list' %}">
        <strong>All Jobs</strong>
    </a>
</li>
<li>
    <a href="{% url 'stud-job-list' %}">
        <strong>Eligible Jobs</strong>
    </a>
</li>
<li>
    <a href="{% url 'stud-jobrel-list' %}">
        <strong>Applied Jobs</strong>
    </a>
</li>
<li>
    <a href="{% url 'stud-cv-detail' %}">
        <strong>Student CV</strong>
    </a>
</li>
<li>
    <a href="{% url 'stud-avatar-detail' %}">
        <strong>Avatar</strong>
    </a>
</li>
<li>
    <a href="{% url 'stud-sign-detail' %}">
        <strong>Signature</strong>
    </a>
</li>
<li>
    <a href="{% url 'stud-announcement-list' %}">
        <strong>All Announcements</strong>
    </a>
</li>

{% endblock %}

{% block level_0 %}

    {% block content %}
    {% endblock %}

{% endblock%}