{% extends 'base_jobportal.html' %}

{% block menu %}
    <li>
        <a href="{% url 'company-home' %}" title="Company Home">
            <strong>Home</strong>
        </a>
    </li>
    <li>
        <a href="{% url 'company-profile-detail' %}" title="Profile">
            <strong>Company Profile</strong>
        </a>
    </li>
    <li>
        <a href="{% url 'company-job-create' %}" title="Add Job">
            <strong>Job Application Form</strong>
        </a>
    </li>
    <li>
        <a href="{% url 'company-job-list' %}" title="View Jobs">
            <strong>Job Application List</strong>
        </a>
    </li>
    <li>
        <a href="{% url 'company-event-create' %}" title="Request Event">
            <strong>Event Form</strong>
        </a>
    </li>
    <li>
        <a href="{% url 'company-event-list' %}" title="Events and Status">
            <strong>All Events</strong>
        </a>
    </li>
    <li>
        <a href="{% url 'company-password-update' %}" title="Change Password">
            <strong>Change Password</strong>
        </a>
    </li>
{% endblock %}

{% block level_0 %}

    {% block content %}
    {% endblock %}

{% endblock%}
