{% extends 'base_admin.html' %}

{% block account_setting%}
<a href="{% url 'logout' %}" title="logout">Logout</a>
{% endblock%}

{% block content %}

<div class="breadcrumbs">
  <div>
      <a href="/tnp/admin/home/">Home</a> ⟩
      <a href="#">Recruiters</a>
  </div>
</div>
<div class="row">
    {% if messages %}
    {% for message in messages%}
        <div class="alert alert-success" role="alert"><p>{{ message }}</p></div>
    {% endfor %}
    {% endif %}

    {% if company_list.count > 0 %}
    <div class="col s12 m8 l9">
    <div class="card data-card">
    <div class="card-content">
    <div class="results">
    <div class="dataTables_wrapper no-footer" id="result_list_wrapper">
    <table class="table bordered dataTable no-footer" id="result_list" role="grid">
        <thead>
        <tr role="row">
            <th>Company Name</th>
            <th>Head HR Mobile</th>
            <th>Approver</th>
            <th>Details</th>
        </tr>
        </thead>

        <tbody class="searchable">
        {% for company in company_list %}
            <tr>
                <td>{{ company.company_name }}</td>
                <td>{{ company.head_hr_mobile }}</td>
                <td>{{ company.approver }}</td>
                <td><a class="btn btn-info btn-xs" style="color:#fff" href="{% url 'admin-company-detail' company.id %}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card filters-card">
            <div class="card-content">
                <span class="card-title black-text">Filter</span>
                <div class="row" style="margin-top:-10px">
                  <div class="input-field col s12">
                    <input type="text" data-name="q" value="" id="searchbar">
                    <label for="searchbar" class="">Search Company</label>
                    <a href="#" id="changelist-search-button"><i class="material-icons">search</i></a>
                    <small>1952 results (<a href="?">Show all</a>)</small>
                  </div>
                </div>
            </div>
         </div>
    </div>

    {% else %}
    <p class="well">There's nothing here yet. </p>
    {% endif %}
</div>

{% endblock %}
