{% extends 'base_admin.html' %}

{% block account_setting%}
<p><a href="{% url 'logout' %}" title="logout">Logout</a></p>

{% endblock%}

{% block content %}

<div class="row">

    <div class="row">
        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Department List</span>
                    {% if departments.count > 0 %}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Year</th>
                                <th>Department Name</th>
                                <th>Department Code</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for department in departments %}
                                <tr>
                                    <td>{{ department.year }}</td>
                                    <td>{{ department.dept }}</td>
                                    <td>{{ department.dept_code | upper }}</td>
                                    <td>
                                        <a class="btn" href="{% url 'department-update' department.id %}">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h5>No department addded yet.</h5>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a class="btn btn-info"
                       href="{% url 'department-create' %}">Add a new Department</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}