{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
    <h2 class="sub-header">Update Event of Staus</h2>
    <hr>
    <div class="col-md-8">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>{{message}}</h4>
            </div>
        {% endfor %}

        <div class="well">
            <form method="post" accept-charset="utf-8">
                {% csrf_token %}
                {% crispy form form.helper %}
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
{% endblock %}
