{% extends 'base_admin.html' %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
{% endblock%}

{% block content %}

<div class="row">

    <div class="row">
        <div class="col s12 m9 l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Unapporved Job Applications</span>
                    {% if job_list.count > 0 %}
                    <table id="job-table" class="table table-striped tablesorter table-hover">
                        <thead>
                            <tr>
                                <th>Posted By</th>
                                <th>Job Designation</th>
                                <th>Opening Date</th>
                                <th>Closing Date</th>
                                <th>Status</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            {% for job in  job_list %}
                                <tr>
                                    <td>{{ job.company_owner }}</td>
                                    <td>{{ job.designation }}</td>
                                    <td>{{ job.opening_date }}</td>
                                    <td>{{ job.application_deadline }}</td>
                                    <td>
                                        {{ job.approved|yesno:"Approved, Rejected, Approval Pending"}}
                                    </td>
                                    <td>
                                        <a href = "{% url 'admin-job-detail' job.id %}"
                                           class="btn">Details</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <h5>No unapproved Job application requests.</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}