{% extends 'base_admin.html' %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>
    <p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
        <h2 class="sub-header">Candidates Status Approval Requests:</h2>
        <hr/>
        <div class="col-md-12">
            <div class="well">
            {% if rel_list.count > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>CV1</th>
                            <th>CV2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rel in rel_list %}
                            <tr>
                                <td>{{ rel.stud.first_name | capfirst}} {{ rel.stud.middle_name | capfirst }} {{ rel.stud.last_name | capfirst}}</td>
                                <td>{{ rel.stud.roll_no }}</td>
                                <td>{{ rel.stud.dept }}</td>
                                <td>Status</td>
                                <td>
                                    <a class="btn btn-xs btn-info" class='inline'
                                       href="#">
                                        Action
                                    </a>
                                </td>
                                <td><a class="btn btn-xs btn-info" class='inline' href="#">CV1</a></td>
                                <td><a class="btn btn-xs btn-info" class='inline' href="#">CV2</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No unapproved requests.</p>
            {% endif %}
            </div>
        </div>
{% endblock %}