{% extends 'base_admin.html' %}
{% load staticfiles %}
{% load material_form %}

{% block head_extra %}
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% endblock %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>

{% endblock%}

{% block content %}

<div class="row">
    <div class="row">

        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        Upload Student Fee Details CSV
                    </span>
                    <form method="post" accept-charset="utf-8" enctype="multipart/form-data"
                          action="{% url 'admin-student-fee-update' %}">
                        {% csrf_token %}
                        {% form %}
                        {% endform %}
                        <input type="submit" class="btn" value="Upload">
                    </form>
                    <p>Note: Since uploaded files are validated row-wise, do not upload files with
                    more than 150 records. In case of network error, request may timeout leaving
                    many rows unprocessed.</p>
                </div>
            </div>
        </div>

        {% if zipped_data.count > 1 %}
        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <table class="table bordered">
                            <thead>
                                <tr>
                                    <th>Row Number</th>
                                    <th>Error</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i, j in zipped_data %}
                                    <tr>
                                        <td>{{i}}</td>
                                        <td>{{j}}</td>
                                        <td>Not Saved</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {% elif zipped_data.count == 0 %}
        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <h5>All records updated successfully.</h5>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}