{% extends 'base_alum.html' %}

{% block account_setting%}
<p><a href="{% url 'alum_logout' %}" title="alum_logout">Logout</a></p>
<p><a href="#" title="">My Account</a></p>
{% endblock%}

{% block content %}
<h2 class="sub-header">Alumni Jobs:</h2>
<hr/>
<div class="col-md-12">
    {% if job_list %}
    <div class="col-md-3 input-group pull-right form-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        <input type="text" class="filter form-control" placeholder="Search">
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Designation</th>
            <th>Profile</th>
            <th>Stipend</th>
            <th>Opening Date</th>
            <th>Deadline</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% for job in job_list %}
        <tr>
            <td>{{ job.designation }}</td>
            <td>{{ job.profile }}</td>
            <td>
                {{ job.stipend }}
            </td>
            <td>{{ job.opening_date | date:'d-N-Y' }}</td>
            <td>{{ job.closing_date | date:'d-N-Y'}}</td>
            <td><a href="{% url 'alumnijobs:alum_alum_job_details' job.id %}" class="btn btn-info btn-xs">Details</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No jobs matches your profile.</p>
    {% endif %}
    <br>
</div>
{% endblock %}