{% extends 'base_student.html' %}
{% load staticfiles %}

{% block account_setting%}
    <p><a href="{% url 'logout' %}" title="logout">Logout</a></p>

{% endblock%}

{% block title %}
    Student | CV
{% endblock %}

{% block content %}

<div class="breadcrumbs">
    <div class="valign-wrapper">
        <a href="{% url 'stud-home' %}">Home</a> ⟩
        <a href="{% url 'stud-cv-detail' %}">CV</a>
    </div>
</div>

<div class="row">
    <div class="row">
        <div class="col s12 m9 l9">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Student CVs</span>
                    <!--TODO: Server Error-->
                    {% if cv.cv1 or cv.cv2 %}
                    {% else %}
                        <p>You have not uploaded any CV yet.</p>
                    {% endif %}
                    {% if cv.cv1 %}
                    <p>
                        <a href="{{ cv.cv1.url }}" target="_blank">
                            <img src="{% static 'img/cv_icon.png' %}" alt="cv_icon" height="50px">CV1
                        </a>
                    </p>
                    {% endif %}

                    <!--TODO: Server Error-->
                    {% if cv.cv2 %}
                    <p>
                        <a href="{{ cv.cv2.url }}" target="_blank">
                            <img src="{% static 'img/cv_icon.png' %}" alt="cv_icon" height="50px">CV2
                        </a>
                    </p>
                    {% endif %}
                </div>
                <div class="card-action">
                    <!--TODO: Server Error-->
                    {% if cv.cv1 or cv.cv2 %}
                        <a class="btn btn-lg btn-info" href="{% url 'stud-cv-update' %}">
                            <span class="glyphicon glyphicon-cloud-upload"></span> Upload new file(s)
                        </a>
                    {% else %}
                        <a class="btn btn-lg btn-info" href="{% url 'stud-cv-create' %}">
                            <span class="glyphicon glyphicon-cloud-upload"></span> Upload file(s)
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}