{% extends 'base_jobportal.html' %}

{% block menu %}
<li>
    <a href="{% url 'stud-home' %}">
        Home
    </a>
</li>
<li>
    <a href="{% url 'stud-profile-update' %}">
        Edit Profile
    </a>
</li>
<li>
    <a href="{% url 'stud-job-list' %}">
        All Jobs
    </a>
</li>
<li>
    <a href="{% url 'stud-jobrel-list' %}">
        Selected Jobs
    </a>
</li>
<li>
    <a href="{% url 'stud-cv-detail' %}">
        Student CV
    </a>
</li>
<li>
    <a href="{% url 'stud-avatar-detail' %}">
        Avatar
    </a>
</li>
<li>
    <a href="{% url 'stud-sign-detail' %}">
        Signature
    </a>
</li>

{% endblock %}

{% block level_0 %}

    {% block content %}
    {% endblock %}

{% endblock%}