{% extends 'base_jobportal.html' %}

{% block menu %}
    <li class="account-nav-head">Recruiter <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></li>
    <li><a href="{% url 'company-home' %}" title="Company Home">Home</a></li>
    <li><a href="{% url 'company-profile-detail' %}" title="Profile">Company Profile</a></li>
    <li><a href="{% url 'company-job-create' %}" title="Add Job">Post New Jobs</a></li>
    <li><a href="{% url 'company-job-list' %}" title="View Jobs">View Jobs</a></li>
    <li><a href="{% url 'internships:rec_add_intern' %}" title="Add Internhips">Add Internships</a></li>
    <li><a href="{% url 'internships:rec_all_interns' %}" title="View Internships">View Internships</a></li>
    <li><a href="{% url 'companyrequestevent' %}" title="Request Event">Request Events</a></li>
    <li><a href="{% url 'companyeventsandstatus' %}" title="Events and Status">Events and Status</a></li>
    <li><a href="{% url 'company-password-update' %}" title="Change Password">Change Password</a></li>
{% endblock %}

{% block level_0 %}

    {% block content %}
    {% endblock %}

{% endblock%}