{% extends 'base_alum.html' %}
{% load staticfiles %}

{% block content %}
<h2 class="sub-header">Upload CV</h2>
<hr/>
<div class="col-md-12">
        {% if alum_instance.cv %}
            <p class="view_cv_box">
                <a href="{{ alum_instance.cv.url }}" title="" , target="_blank">
                    <img src="{% static 'img/cv_icon.png' %}" alt="cv_icon" height="50px">CV</a>
            </p>
        {% endif %}
</div>
<div class="col-md-9">
    <form enctype="multipart/form-data" action="{% url 'alum_cv_upload' %}" method="post" accept-charset="utf-8">
        <div class="well">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-primary" value="Upload">
        </div>
    </form>
</div>
{% endblock %}